﻿@model ShoesStore.Models.ViewModel.AccountViewModel
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<div class="content">
    <div class="header">

        <h1 class="page-title">Thông tin đăng ký</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Thành Viên", "ShowAllAccounts", "Account") <span class="divider">/</span></li>
        <li class="active">Đăng ký thành viên</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">
            
            <div class="well">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        @using (Html.BeginForm("AddUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "tab" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="register-top-grid">
                                <h3>THÔNG TIN CÁ NHÂN</h3>
                                <div>
                                    <span>
                                        @Html.LabelFor(model => model.Name)
                                        <label>*</label>
                                    </span>
                                    @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    <span>
                                        @Html.LabelFor(model => model.Email)
                                        <label>*</label>
                                    </span>
                                    @Html.TextBoxFor(model => model.Email, new { type = "email" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    <span>
                                        @Html.LabelFor(model => model.Gender)
                                        <label>*</label>
                                    </span>
                                    @Html.DropDownListFor(model => model.Gender, (SelectList)ViewBag.DSGioiTinh)
                                </div>
                                <div>
                                    <span>
                                        @Html.LabelFor(model => model.Birthday)
                                        <label>*</label>
                                    </span>
                                    @Html.TextBoxFor(model => model.Birthday, new { type = "text", id = "datepicker" })
                                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                    <script>
                                        $(function () {
                                            $("#datepicker").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'dd/mm/yy'
                                            });
                                        });
                                    </script>
                                </div>
                                <div>
                                    <span>
                                        @Html.LabelFor(model => model.Phone)
                                        <label>*</label>
                                    </span>
                                    @Html.TextBoxFor(model => model.Phone, new { type = "tel" })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    <span>
                                        @Html.LabelFor(model => model.Address)
                                        <label>*</label>
                                    </span>
                                    @Html.TextBoxFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="clear"> </div>
                            <div class="register-bottom-grid">
                                <h3>THÔNG TIN TÀI KHOẢN</h3>
                                <div>
                                    <span>
                                        @Html.LabelFor(model => model.Username)
                                        <label>*</label>
                                    </span>
                                    @Html.TextBoxFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>
                                <div class="clear"> </div>
                                <div></div>
                                <div>
                                    <span>
                                        @Html.LabelFor(model => model.Password)
                                        <label>*</label>
                                    </span>
                                    @Html.TextBoxFor(model => model.Password, new { type = "password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    <span>
                                        @Html.LabelFor(model => model.ConfirmPassword, new { type = "password" })
                                        <label>*</label>
                                    </span>
                                    @Html.TextBoxFor(model => model.ConfirmPassword, new { type = "password" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                                </div>
                                
                                <div class="clear"> </div>
                            </div>
                            <div class="clear"> </div>
                            <input type="submit" class="btn btn-primary" value="Đăng ký" />
                        }
                    </div>
                </div>
            </div>
            
            <!-- End body-->
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
