﻿@{
    ViewBag.Title = "Xác nhận tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <div>
                <h1>THÔNG BÁO</h1>
                <p>
                    Cám ơn bạn đã xác nhận tài khoản. Bấm vào @Html.ActionLink("đây", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) để đăng nhập.
                </p>
            </div>
        </div>
    </div>
</div>

