﻿@model ShoesStore.Models.ViewModel.EditProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <div></div>
            <div class="clear"> </div>
            <h1>TẠO TÀI KHOẢN</h1>
            <div class="register-grids">
                @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary("", new { @class = "text-danger errornoti" })*@
                    if (ViewBag.Message != null)
                    {
                        <span class="text-danger errornoti">@ViewBag.Message</span>
                    }

                    <div class="register-top-grid">
                        <h3>THÔNG TIN CÁ NHÂN</h3>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Name)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Email)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Email, new { type = "email", disabled="disabled"})
                            <input type="hidden" name="Email" value="@Model.Email"/>
                                   @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Gender)
                                <label>*</label>
                            </span>
                            @Html.DropDownListFor(model => model.Gender, (SelectList)ViewBag.DSGioiTinh)
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Birthday)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Birthday, "{0:dd/MM/yyyy}", new { type = "text", id = "datepicker" })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger errornoti" })
                            <script>
                                $(function () {
                                    $("#datepicker").datepicker({
                                        changeMonth: true,
                                        changeYear: true,
                                        dateFormat: 'dd/mm/yy',
                                        yearRange: ((new Date()).getFullYear() - 100) + ":" + ((new Date().getFullYear() - 18)),
                                        defaultDate: new Date(1997, 01, 01)
                                    });
                                });
                            </script>
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Phone)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Phone, new { type = "tel" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Address)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                    <input type="submit" value="Lưu" />
                }
            </div>
        </div>
    </div>
</div>
