﻿@model ShoesStore.Models.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>ĐĂNG NHẬP HOẶC TẠO TÀI KHOẢN </h1>
            <div class="login-left">
                <h3>CÁC KHÁCH HÀNG MỚI</h3>
                <p>
                    Tạo tài khoản trên website, bạn có thể mua hàng và thanh toán nhanh hơn, sử dụng nhiều địa chỉ nhận hàng, xem và theo dõi đơn hàng trong tài khoản và nhiều hơn thế nữa.
                </p>
                @Html.ActionLink("Tạo tài khoản mới", "Register", "Account", null, new { @class = "acount-btn" })
                <!--<a class="acount-btn" href="register.html">Tạo tài khoản mới</a>-->
            </div>
            <div class="login-right">
                <h3>KHÁCH HÀNG ĐÃ ĐĂNG KÝ</h3>
                <p>Nếu bạn đã có tài khoản, hãy đăng nhập.</p>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger errornoti" })
                    if (ViewBag.ReturnUrl != null)
                    {
                        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl"/>
                    }
                    
                    <div>
                        <span>
                            @Html.LabelFor(model => model.Username)
                            <label>*</label>
                        </span>
                        @Html.TextBoxFor(model => model.Username)
                        @*@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })*@
                    </div>
                    <div>
                        <span>
                            @Html.LabelFor(model => model.Password)
                            <label>*</label>
                        </span>
                        @Html.TextBoxFor(model => model.Password, new { type = "password" })
                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                    </div>
                    <div>

                        <span>
                            @Html.CheckBoxFor(model => model.RememberMe)
                            @Html.LabelFor(model => model.RememberMe)
                        </span>
                    </div>
                    <div class="clear"> </div>
                    <span>
                        @Html.ActionLink("Kích hoạt tài khoản?", "ResendConfirmMail", "Account", new { @class = "news-letter" })
                        @Html.ActionLink("   Quên mật khẩu?", "ForgorPassword", "Account", new { @class = "news-letter" })
                    </span>
                    <div class="clear"> </div>
                    
                    <input type="submit" value="Đăng nhập" />
                }
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>

