﻿@model ShoesStore.Models.ViewModel.AccountViewModel
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content login-box">
    <div class="manager-main">
        <div class="wrap">
            <div class="register-grids">
                @using (Html.BeginForm("Manager", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="register-top-grid">
                        <h3>THÔNG TIN CÁ NHÂN</h3>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Name)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Email)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Email, new { type = "email" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Gender)
                                <label>*</label>
                            </span>
                            @Html.DropDownListFor(model => model.Gender, (SelectList)ViewBag.DSGioiTinh)
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Birthday)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Birthday, new { type = "date" })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Phone)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Phone, new { type = "tel" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Address)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="clear"> </div>
                        
                    </div>
                    <div class="clear"> </div>
                    <div class="register-bottom-grid">
                        <h3>THÔNG TIN TÀI KHOẢN</h3>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Username)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Username)
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="clear"> </div>
                        <div></div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Password)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Password, new { type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.ConfirmPassword, new { type = "password" })
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                    <input type="submit" value="cập nhật" />
                }
            </div>
        </div>
    </div>
</div>

