﻿@model ShoesStore.Models.ViewModel.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Capcha {
    @*<script type="text/javascript">
        var dataCallbackFunc = function() {
            var capchatoken = document.getElementById("recaptcha-token");
            (document.getElementById("capcha")).value = capchatoken.value;
        };

        var onloadCallback = function () {
            grecaptcha.render('capcha', {
                'sitekey': '@ConfigurationManager.AppSettings["ReCapchar_PublicKey"]',
                'callback': 'dataCallbackFunc'
            });
        };
    </script>*@



    <script src='https://www.google.com/recaptcha/api.js'></script>
}


@using System.Configuration

<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            @{
                //Mail đã đăng ký, chuyển đến trag đăng nhập
                if (@ViewBag.Error != null)
                {
                    if (System.String.Compare(((String)@ViewBag.Error), ShoesStoreBLL.ErrorCodeDetail.Reg_EmailConlict, System.StringComparison.Ordinal) == 0)
                    {
                        <h1>THÔNG BÁO</h1>
                        <span>
                            <label>@ViewBag.Error</label>
                            @Html.ActionLink("Bấm vào đây để đăng nhập", "Login", "Account");
                        </span>
                    }
                    else
                    {
                        <h1>THÔNG BÁO</h1>
                        <span>
                            <label>@ViewBag.Error</label>
                        </span>
                    }
                }

            }
            <div></div>
            <div class="clear"> </div>
            <h1>TẠO TÀI KHOẢN</h1>
            <div class="register-grids">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger errornoti" })
                    <div class="register-top-grid">
                        <h3>THÔNG TIN CÁ NHÂN</h3>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Name)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Email)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Email, new { type = "email" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Gender)
                                <label>*</label>
                            </span>
                            @Html.DropDownListFor(model => model.Gender, (SelectList)ViewBag.DSGioiTinh)
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Birthday)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Birthday, "{0:dd/MM/yyyy}", new { type = "text", id = "datepicker" })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger errornoti" })
                            <script>
                                $(function () {
                                    $("#datepicker").datepicker({
                                        changeMonth: true,
                                        changeYear: true,
                                        dateFormat: 'dd/mm/yy',
                                        yearRange: ((new Date()).getFullYear() - 100) + ":" + ((new Date().getFullYear() - 18)),
                                        defaultDate: new Date(1997, 01, 01)
                                    });
                                });
                            </script>
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Phone)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Phone, new { type = "tel" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Address)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger errornoti" })
                        </div>
                        @*<div>
                            <a class="news-letter" href="#">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Nhận Email từ chúng tôi.</label>
                            </a>
                        </div>
                        <div class="clear"> </div>*@
                    </div>
                    <div class="clear"> </div>
                    <div class="register-bottom-grid">
                        <h3>THÔNG TIN TÀI KHOẢN</h3>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Username)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Username)
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div class="clear"> </div>
                        <div></div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Password)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Password, new { type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.ConfirmPassword, new { type = "password" })
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                <label>Xác thực không phải người máy</label>
                                <label>*</label>
                            </span>
                            <span class="g-recaptcha" data-sitekey="@ConfigurationManager.AppSettings["ReCapchar_PublicKey"]"></span>
                        </div>
                    </div>
                    <div class="clear"> </div>
                    <input type="submit" value="đăng ký" />
                }
            </div>
        </div>
    </div>
</div>
