﻿@model ShoesStore.Models.ViewModel.ResendConfirmMailViewModel

@{
    ViewBag.Title = "Kích hoạt tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>Kích hoạt tài khoản</h1>
            <span>Nhập Tên đăng nhập để kích hoạt tài khoản!</span>
            <div class="register-grids">
                @using (Html.BeginForm("ResendConfirmMail", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="register-top-grid">
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Username)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Username)
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clear"> </div>
                    <input type="submit" value="Kích hoạt tài khoản" />
                }
            </div>
        </div>
    </div>
</div>
