﻿@model ShoesStore.Models.ViewModel.ResetPasswordViewModel

@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>Quên mật khẩu</h1>
            <span>Nhập mật khẩu mới của bạn!</span>
            <div class="register-grids">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.UserId, new { type = "hidden"})
                    @Html.TextBoxFor(model => model.Token, new { type = "hidden"})
                    <div class="register-top-grid">
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Password)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Password, new { type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.ConfirmPassword)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clear"> </div>
                    <input type="submit" value="Đặt lại mật khẩu" />
                }
            </div>
        </div>
    </div>
</div>
