﻿@model ShoesStore.Models.ViewModel.EditProfileViewModel

@{
    ViewBag.Title = "RoleUser";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<div class="content">

    <div class="header">
        <h1 class="page-title">Danh Sách Thành Viên</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Thành Viên", "ShowAllAccounts", "Account") <span class="divider">/</span></li>
        <li class="active">@Html.ActionLink("Danh Sách Thành Viên", "ShowAllAccounts", "Account") <span class="divider">/</span></li> 
        <li class="active">Phân quyền Thành Viên</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">
            <!--MY PAGE-->
            @using (Html.BeginForm("RoleUser", "Account", new { username = ViewBag.username }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                string username = ViewBag.username;
                <h2>Thành viên: @username</h2>
                
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <form class="form-horizontal">
                    <div class="label-info">
                        <span>THÔNG TIN TÀI KHOẢN</span>
                    </div>
                    <div class="form-group">
                        <span>
                            @Html.LabelFor(model => model.Email)
                        </span>
                        @Html.TextBoxFor(model => model.Email, "", new { @readonly = true })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <span>
                            @Html.LabelFor(model => model.Name)
                        </span>
                        @Html.TextBoxFor(model => model.Name, "", new { @readonly = true })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="label-info">
                        <span>THÔNG TIN CÁ NHÂN</span>
                    </div>
                    <div class="form-group">
                        <span>
                            @Html.LabelFor(model => model.Phone)
                        </span>
                        @Html.TextBoxFor(model => model.Phone)
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <span>
                            @Html.LabelFor(model => model.Gender)
                        </span>
                        @Html.DropDownListFor(model => model.Gender, (SelectList)ViewBag.DSGioiTinh)
                    </div>
                    <div class="form-group">
                        <span>
                            @Html.LabelFor(model => model.Birthday)
                        </span>
                        @Html.TextBoxFor(model => model.Birthday, new { type = "text", id = "datepicker" })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                        <script>
                            $(function () {
                                $("#datepicker").datepicker({
                                    changeMonth: true,
                                    changeYear: true,
                                    dateFormat: 'dd/mm/yy'
                                });
                            });
                        </script>

                    </div>
                    <div class="form-group">
                        <span>
                            @Html.LabelFor(model => model.Address)
                        </span>
                        @Html.TextBoxFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                    <div class="label-info">
                        <span>THÔNG TIN PHÂN QUYỀN</span>
                    </div>
                    <div class="form-group">
                        <label for="phanquyen" class="control-label">Phân Quyền</label>
                        <table class="table form-control" id="phanquyen" title="Phân quyền">
                            <thead>
                                <tr>
                                    <th>Vai Trò</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @for (var i = 0; i < Model.ListRoleViewModel.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(x => x.ListRoleViewModel[i].NameRole)
                                        @Html.DisplayFor(x => x.ListRoleViewModel[i].NameRole)
                                    </td>
                                    <td>
                                        @Html.HiddenFor(x => x.ListRoleViewModel[i].ID)

                                        @{
                                int i1 = i;
                                        }
                                        @* Xem lại chỗ này User không được thay đổi*@
                                        @if (System.String.Compare(Model.ListRoleViewModel[i].NameRole, "User", System.StringComparison.Ordinal) == 0)
                                        {
                                            @Html.CheckBoxFor(x => x.ListRoleViewModel[i].HasRole, new { @checked = "checked" })
                                        }
                                        else
                                        {
                                            @Html.CheckBoxFor(x => x.ListRoleViewModel[i].HasRole)
                                        }
                                    </td>

                                </tr>
                            }
                        </table>

                    </div>
                    <input type="hidden" name="username" value="@username" />
                    <div class="form-group">
                        
                        <button onclick="location.reload()">
                            Cập nhật
                        </button>

                        <button>
                            @Html.ActionLink("Hủy", "RoleUser", "Account", new { username = ViewBag.username }, null)
                        </button>
                    </div>
                </form>
            }
            <!--MY PAGE-->
        </div>
    </div>
</div>




