﻿@using ShoesStore.Models.ViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<div class="content">

    <div class="header">
        <h1 class="page-title">Tìm Kiếm</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Thành Viên", "ShowAllAccounts", "Account" ) <span class="divider">/</span></li>
        <li class="active">Tìm Kiếm</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">
            <!--MY PAGE-->

            <div class="btn-toolbar">
                @using (Html.BeginForm("Search", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <div class="btn-group">
                        <label class="menuControl">Từ Khóa</label>
                        <input type="text" class="input-large" name="keyword" value="@ViewBag.KeyWord"/>
                        <label class="menuControl">Tìm kiếm theo</label>
                        <select name="searchfor" class="input-xlarge">

                            <option value="All">Tất Cả</option>
                            @{
                                if (ViewBag.SearchFor != null)
                                {
                                    if (ViewBag.SearchFor == "Username")
                                    {
                                        <option value="Username" selected="selected">Tên Đăng Nhập</option>
                                    }
                                    else
                                    {
                                        <option value="Username">Tên Đăng Nhập</option>
                                    }
                                    if (ViewBag.SearchFor == "Name")
                                    {
                                        <option value="Name" selected="selected">Tên Thành Viên</option>
                                    }
                                    else
                                    {
                                        <option value="Name">Tên Thành Viên</option>
                                    }
                                    if (ViewBag.SearchFor == "Email")
                                    {
                                        <option value="Email" selected="selected">Email</option>
                                    }
                                    else
                                    {
                                        <option value="Email">Email</option>
                                    }
                                }
                                else
                                {
                                    <option value="Username">Tên Đăng Nhập</option>
                                    <option value="Name">Tên Thành Viên</option>
                                    <option value="Email">Email</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn menuControl">Tìm</button>
                    </div>
                }
                
                <div class="block-heading">
                    <span class="block-icon pull-right">
                        <a href="#" class="demo-cancel-click" rel="tooltip" data-original-title="Click to refresh"><i class="icon-refresh"></i></a>
                    </span>
                </div>
            </div>

            <div class="well">
                <h3>Kết quả tìm kiếm</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.ActionLink("Tên Đăng Nhập", "Search", "Account", new { keyword = ViewBag.KeyWord, searchfor = ViewBag.SearchFor, orderByField = "Username" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>@Html.ActionLink("Họ Tên", "Search", "Account", new { keyword = ViewBag.KeyWord, searchfor = ViewBag.SearchFor, orderByField = "Name" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>@Html.ActionLink("Email", "Search", "Account", new { keyword = ViewBag.KeyWord, searchfor = ViewBag.SearchFor, orderByField = "Email" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>@Html.ActionLink("Ngày Đăng Ký", "Search", "Account", new { keyword = ViewBag.KeyWord, searchfor = ViewBag.SearchFor, orderByField = "RegisteredDate" }, new { title = "Bấm vào để sắp xếp" })</th>
                            @*<th>@Html.ActionLink("Phân Quyền", "ShowAllAccounts", "Account", new { orderByField = "Username" }, new { title = "Bấm vào để sắp xếp" })</th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            if (Model != null)
                            {
                                foreach (AccountViewModel acc in Model)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>@acc.Username</td>
                                        <td>@acc.Name</td>
                                        <td>@acc.Email</td>
                                        <th>@acc.RegisteredDate</th>
                                        @*<th>@acc.Permission</th>*@
                                        <td>
                                            <a href="@Url.Action("RoleUser", "Account", new { username = acc.Username })"><i class="icon-pencil"></i></a>
                                            <a id="btnDelete" href="#confirmModal" data-target="#confirmModal" role="button" data-toggle="modal" data-username="@acc.Username"><i class="icon-remove"></i></a>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    @{
                        if (ViewBag.CurrentPage == 1)
                        {
                            <li>
                                @Html.ActionLink("Prev", "Search", "Account", null, new { @class = "disabled" })
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Prev", "Search", "Account", new { pageNum = (ViewBag.CurrentPage - 1) }, null)
                            </li>
                        }

                        for (int i = 1; i < ViewBag.PageCount + 1; i++)
                        {
                            <li>
                                @Html.ActionLink(i.ToString(), "Search", "Account", new { pageNum = i }, null)
                            </li>
                        }
                        if (ViewBag.CurrentPage == ViewBag.PageCount)
                        {
                            <li>
                                @Html.ActionLink("Next", "Search", "Account", null, new { @class = "disabled" })
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Next", "Search", "Account", new { pageNum = ViewBag.CurrentPage + 1 }, null)
                            </li>
                        }
                    }
                </ul>

            </div>
            <div class="modal small hide fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @using (Html.BeginForm("Delete", "Account"))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Xác nhận xóa</h3>
                    </div>
                    <div class="modal-body">
                        <p class="error-text">
                            <i class="icon-warning-sign modal-icon"></i>
                            <span id="notification">Bạn chắc chắn muốn xóa tài khoản này?</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Hủy</button>
                        <button name="username" type="submit" class="btn btn-danger" id="confirmDel" value="">Xóa</button>
                    </div>
                }

            </div>
            <script type="text/javascript">
                $(document).on("click", "#btnDelete", function () {
                    var username = $(this).data('username');
                    $("#notification").text('Bạn chắc chắn muốn xóa tài khoản "' + username + '"?');
                    $("#confirmDel").val(username);
                    // As pointed out in comments,
                    // it is superfluous to have to manually call the modal.
                    //
                });
            </script>
            <!--MY PAGE-->
        </div>
    </div>
</div>
