﻿@using ShoesStore.Models
@using ShoesStore.Models.ViewModel
@{
    ViewBag.Title = "ShowAllAccounts";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

@{int numPerPage = ViewBag.NumPerPage;}
@{int numAcc = @ViewBag.NumAcc;}
@{int numPage = @ViewBag.PageCount;}

@{  int skipPage = 2;
    int indPage = ViewBag.CurrentPage;
    int startPage = indPage - skipPage <= 0 ? 1 : indPage - skipPage;
    int endPage = indPage + skipPage > numPage ? numPage : indPage + skipPage;
}

<div class="content">

    <div class="header">
        <h1 class="page-title">Danh Sách Thành Viên</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Thành Viên", "ShowAllAccounts", "Account") <span class="divider">/</span></li>
        <li class="active">Danh Sách Thành Viên</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">
            <!--MY PAGE-->
            
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label class="menuControl">Số tài khoản/trang</label>
                    <select name="numPerPage" class="input-xlarge">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    @*<label class="menuControl">Cách sắp xếp</label>
    <select name="OrderMethod" id="OrderMethod" class="input-xlarge">
        <option value="0">Tăng Dần</option>
        <option value="1">Giảm Dần</option>
        </select>
                    *@
                </div>
                <div class="block-heading">
                    <span class="block-icon pull-right">
                        <a href="#" class="demo-cancel-click" rel="tooltip" data-original-title="Click to refresh"><i class="icon-refresh"></i></a>
                    </span>
                </div>
            </div>

            <div class="well">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.ActionLink("Tên Đăng Nhập", "ShowAllAccounts", "Account", new { orderByField = "Username" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>@Html.ActionLink("Họ Tên", "ShowAllAccounts", "Account", new { orderByField = "Name" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>@Html.ActionLink("Email", "ShowAllAccounts", "Account", new { orderByField = "Email" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>@Html.ActionLink("Ngày Đăng Ký", "ShowAllAccounts", "Account", new { orderByField = "RegisteredDate" }, new { title = "Bấm vào để sắp xếp" })</th>
                            @*<th>@Html.ActionLink("Phân Quyền", "ShowAllAccounts", "Account", new { orderByField = "Username" }, new { title = "Bấm vào để sắp xếp" })</th>*@
                            <th></th>
                            @*<th style="width: 26px;"></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            if (Model != null)
                            {
                                foreach (AccountViewModel acc in Model)
                                {
                                    if (acc.HasUse)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>@acc.Username</td>
                                            <td>@acc.Name</td>
                                            <td>@acc.Email</td>
                                            <th>@acc.RegisteredDate</th>
                                            <td>
                                                @*@Html.ActionLink("Phân quyền", "RoleUser", "Account", new { username = acc.Username }, new { title = "Bấm vào để xem/phân quyền" })*@
                                                <a href="@Url.Action("RoleUser", "Account", new { username = acc.Username })"><i class="icon-pencil"></i></a>
                                                <a id="btnDelete" href="#confirmModal" data-target="#confirmModal" role="button" data-toggle="modal" data-username="@acc.Username"><i class="icon-remove"></i></a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                    <tr>
                                        <td>@index</td>
                                        <td>@acc.Username</td>
                                        <td>@acc.Name</td>
                                        <td>@acc.Email</td>
                                        <th>@acc.RegisteredDate</th>
                                        <td>
                                            <a id="btnDelete" href="#confirmModal" data-target="#confirmModal" role="button" data-toggle="modal" data-username="@acc.Username"><i class="icon-remove"></i></a>
                                        </td>
                                    </tr>
                                    }
                                    index++;
                                }
                            }
}
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    @{
                        if (ViewBag.CurrentPage == 1)
                        {
                            <li>
                                @Html.ActionLink("Prev", "ShowAllAccounts", "Account", null, new { @class ="disabled" })
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Prev", "ShowAllAccounts", "Account", new { pageNum = (ViewBag.CurrentPage - 1) }, null)
                            </li>
                        }
                        
                        for (int i = startPage; i <= endPage; i++)
                        {
                            if (i == indPage)
                            {
                                <li>@Html.ActionLink(i.ToString(),null)</li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink(i.ToString(), "ShowAllAccounts", "Account", new { pageNum = i }, null)
                                </li>
                            }

                        }
                        if (ViewBag.CurrentPage == ViewBag.PageCount)
                        {
                            <li>
                                @Html.ActionLink("Next", "ShowAllAccounts", "Account", null, new { @class = "disabled" })
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Next", "ShowAllAccounts", "Account", new { pageNum = ViewBag.CurrentPage + 1 }, null)
                            </li>
                        }
                    }
                </ul>

            </div>
            <div class="modal small hide fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @using (Html.BeginForm("Delete", "Account"))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Xác nhận xóa</h3>
                    </div>
                    <div class="modal-body">
                        <p class="error-text">
                            <i class="icon-warning-sign modal-icon"></i>
                            <span id="notification">Bạn chắc chắn muốn xóa tài khoản này?</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Hủy</button>
                        <button name="username" type="submit" class="btn btn-danger" id="confirmDel" value="">Xóa</button>
                    </div>
                }
                
            </div>
            <script type="text/javascript">
                $(document).on("click", "#btnDelete", function() {
                    var username = $(this).data('username');
                    $("#notification").text('Bạn chắc chắn muốn xóa tài khoản "' + username + '"?');
                    $("#confirmDel").val(username);
                    // As pointed out in comments,
                    // it is superfluous to have to manually call the modal.
                    // 
                });
            </script>
 
            
            <!--MY PAGE-->
        </div>
    </div>
</div>
