﻿@model ShoesStore.Models.ViewModel.AddCategoryViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<!-- Start body-->
@Html.AntiForgeryToken()
<div class="content">

    <div class="header">

        <h1 class="page-title">Thông tin loại sản phẩm</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Trang chủ", "Index", "Category") <span class="divider">/</span></li>
        <li>@Html.ActionLink("Danh sách loại sản phẩm", "Index", "Category")<span class="divider">/</span></li>
        <li class="active">Loại sản phẩm</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary" form="tab"><i class="icon-save"></i> Lưu/Cập nhật</button>
                @Html.ActionLink("Quay về danh sách", "Index", "Category", new {@class="btn" })
                <div class="btn-group">
                </div>
            </div>
            <div class="well">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab"> @ViewBag.SubTitle</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form id="tab" method="post" action="Add">
                            <div>
                                <span>
                                    @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label " })
                                </span>
                                @Html.TextBoxFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.ID)
                            </div>
                            
                            <div>
                                <span>
                                    @(ViewBag.Notice != null ? ViewBag.Notice : string.Empty) 
                                </span>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Xác nhận xóa</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Bạn có chắc muốn xóa loại sản phẩm này?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Hủy bỏ</button>
                    <button class="btn btn-danger" data-dismiss="modal" value="idCategory" onclick="location.href='Index?idCategory=1'">Xóa</button>
                </div>
            </div>
            <!-- End body-->
           @section Scripts {
                 @Scripts.Render("~/bundles/jqueryval")
            }
