﻿@using ShoesStore.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

@{int numPerPage = ViewBag.NumPerPage;}
@{int numCate = @ViewBag.NumCategory;}
@{int numPage = @ViewBag.PageCount;}
@{int page = @ViewBag.CurrentPage;}

@{  int skipPage = 2;
  int startPage = page - skipPage <= 0 ? 1 : page - skipPage;
  int endPage = page + skipPage > numPage ? numPage : page + skipPage;
}

@{string orderByField = ViewBag.orderByField;
}


<div class="content">

    <div class="header">

        <h1 class="page-title">Danh sách loại sản phẩm</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Trang chủ", "Index", "Category")<span class="divider">/</span></li>
        <li class="active">Danh sách loại sản phẩm</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("Add", "Category")'"><i class="icon-plus"></i> Thêm loại sản phẩm</button>
                <div class="btn-group">
                    @using (Html.BeginForm("Index", "Category", FormMethod.Get))
                    {
                        <label class="menuControl">Loại sản phẩm/trang</label>
                        <select class="dropdown" name='numPerPage' onchange='submit()' data-settings='{"wrapperClass":"metro1"}'>
                            <option @(10 == numPerPage ? "selected = 'selected' " : string.Empty) value="10">10</option>
                            <option @(15 == numPerPage ? "selected = 'selected' " : string.Empty) value="15">15</option>
                            <option @(20 == numPerPage ? "selected = 'selected' " : string.Empty) value="20">20</option>
                        </select>
                        <input type='hidden' name='page' value='@page' />
                        <input type='hidden' name='orderByField' value='@orderByField' />

                    }
                </div>
            </div>
            <div class="well">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>@Html.ActionLink("Tên loại sản phẩm", "Index", "Category", new { orderByField = "CategoryName" }, new { title = "Bấm vào để sắp xếp" })</th>                      
                            <th style="width: 26px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ViewBag.stt = ViewBag.STT;
                        foreach (CategoryViewModel p in Model)
                        {
                            ViewBag.stt = ViewBag.stt + 1;
                            <tr>
                                <td>@ViewBag.stt</td>
                                <td>@p.CategoryName</td>                        
                                <td>
                                    <a href="@Url.Action("Add", "Category", new { idCategory = p.ID }) "><i class=" icon-pencil"></i></a>
                                    <a id="btnDelete" href="#confirmModal" data-target="#confirmModal" role="button" data-toggle="modal" data-userdata=@p.ID><i class="icon-remove"></i></a>
                                </td>
                            </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    @if (page > 1)
                    {
                        <li>
                            <a title="Trang trước" href="@Url.Action("Index", "Category",
                new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage - 1), orderByField = ViewBag.orderByField })">
                                <
                            </a>
                        </li>
                    }

                    @for (int p = startPage; p <= endPage; p++)
                    {
                        if (p == page)
                        {
                            <li>
                                <a class="active-page">@p</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a title="Trang @p" href="@Url.Action("Index", "Category",
                        new { numPerPage = ViewBag.NumPerPage, page = p, orderByField = ViewBag.orderByField })">
                                    @p
                                </a>
                            </li>
                        }


                    }

                    @if (page <= (numPage - 1))
                    {
                        <li>
                            <a title="Trang Sau" href="@Url.Action("Index", "Category",
                                new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage + 1), orderByField = ViewBag.orderByField })">
                                >
                            </a>
                        </li>
                    }
                </ul>
            </div>


            <div class="modal small hide fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @using (Html.BeginForm("Delete", "Category"))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Xác nhận xóa</h3>
                    </div>
                    <div class="modal-body">
                        <p class="error-text">
                            <i class="icon-warning-sign modal-icon"></i>
                            <span id="notification">Bạn muốn xóa loại sản phẩm này?</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Hủy bỏ</button>
                        <button name="idCategory" type="submit" class="btn btn-danger" id="confirmDel" value="">Xóa</button>
                    </div>
                }

            </div>
            <script type="text/javascript">
                $(document).on("click", "#btnDelete", function () {
                    var idCategory = $(this).data('userdata');
                    $("#confirmDel").val(idCategory);
                });
            </script>

