﻿@using System.Globalization
@using ShoesStore.Models.ViewModel
@{
    ViewBag.Title = "HistoryOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{int numPerPage = ViewBag.NumPerPage;}
@{int numOrder = @ViewBag.NumOrder;}
@{int numPage = @ViewBag.PageCount;}
@{int page = @ViewBag.CurrentPage;}

@{  int skipPage = 2;
  int startPage = page - skipPage <= 0 ? 1 : page - skipPage;
  int endPage = page + skipPage > numPage ? numPage : page + skipPage;
}

@{string orderByField = ViewBag.orderByField;
}

<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>LỊCH SỬ MUA HÀNG</h1>
            <div class="loadmore-products-2">
                <!--Bắt đầu form chọn sản phẩm hiện thị trên trang-->
                @using (Html.BeginForm("HistoryOrder", "Order", FormMethod.Get))
                {
                    <label class="menuControl">Số đơn đặt hàng/trang</label>
                    <select class="dropdown" name='numPerPage' onchange='submit()' data-settings='{"wrapperClass":"metro1"}'>
                        <option @(10 == numPerPage ? "selected = 'selected' " : string.Empty) value="10">10</option>
                        <option @(15 == numPerPage ? "selected = 'selected' " : string.Empty) value="15">15</option>
                        <option @(20 == numPerPage ? "selected = 'selected' " : string.Empty) value="20">20</option>
                    </select>
                    <input type='hidden' name='page' value='@page' />
                    <input type='hidden' name='orderByField' value='@orderByField' />
                }
                <!--Kết thúc form-->
                <div class="clearfix"></div>
            </div>
            <div class="register-grids">
               

                <div class="register-bottom-grid">
                    <table class="reference">
                        <thead>
                            <tr>                               
                                <th>#</th>
                                <th>@Html.ActionLink("Mã đơn hàng", "HistoryOrder", "Order", new { orderByField = "IDOrder" }, new { title = "Bấm vào để sắp xếp" })</th>
                                <th>@Html.ActionLink("Ngày đặt", "HistoryOrder", "Order", new { orderByField = "Date" }, new { title = "Bấm vào để sắp xếp" })</th>
                                <th>@Html.ActionLink("Tổng tiền", "HistoryOrder", "Order", new { orderByField = "Total" }, new { title = "Bấm vào để sắp xếp" })</th>
                                <th>Tình trạng</th>
                            </tr>
                        </thead>
                        <tbody>
                           @{int stt = ViewBag.STT;}
                        @foreach (OrderViewModel p in Model)
                        {
                            stt = stt + 1;
                            <tr>
                                <td>@stt</td>
                                <td>
                                    <a href="@Url.Action("OrderDetailUser", "Order", new { idOrder = @p.ID })">
                                        @p.ID
                                    </a>
                                </td>
                                <td>@p.Date</td>                               
                                <td>@p.Total.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                <td>@p.OrderStatus</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>

            <!----start-page-number---->
            <div class="loadmore-products-1">
                @if (page > 1)
                {
                    <a title="Trang Trước" href="@Url.Action("HistoryOrder", "Order",
                new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage - 1), orderByField = ViewBag.orderByField })">
                        <
                    </a>
                }

                @for (int p = startPage; p <= endPage; p++)
                {
                    if (p == page)
                    {
                        <a class="active-page">@p</a>
                    }
                    else
                    {
                        <a title="Trang @p" href="@Url.Action("HistoryOrder", "Order",
                        new { numPerPage = ViewBag.NumPerPage, page = p, orderByField = ViewBag.orderByField })">
                            @p
                        </a>
                    }

                }

                @if (page <= (numPage - 1))
                {
                    <a title="Trang Sau" href="@Url.Action("HistoryOrder", "Order",
                     new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage + 1), orderByField = ViewBag.orderByField })">
                        >
                    </a>
                }

            </div>
            <!----//End-page-number---->

        </div>
    </div>
</div>
<!---- end content---->