﻿@using ShoesStore.Models.ViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

@{int numPerPage = ViewBag.NumPerPage;}
@{int numOrder = @ViewBag.NumOrder;}
@{int numPage = @ViewBag.PageCount;}
@{int page = @ViewBag.CurrentPage;}

@{  int skipPage = 2;
  int startPage = page - skipPage <= 0 ? 1 : page - skipPage;
  int endPage = page + skipPage > numPage ? numPage : page + skipPage;
}

 @{string orderByField = ViewBag.orderByField;
}




<!-- Start body-->
<div class="content">

    <div class="header">

        <h1 class="page-title">Danh sách đơn hàng</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Trang chủ", "Index", "Category")<span class="divider">/</span></li>
        <li class="active">Danh sách đơn hàng</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">              
                <div class="btn-group">
                    @using (Html.BeginForm("Index", "Order", FormMethod.Post))
                    { 
                        <label class="menuControl">Số đơn đặt hàng/trang</label>
                        <select class="dropdown" name='numPerPage' onchange='submit()' data-settings='{"wrapperClass":"metro1"}'>
                            <option @(10 == numPerPage ? "selected = 'selected' " : string.Empty) value="10">10</option>
                            <option @(15 == numPerPage ? "selected = 'selected' " : string.Empty) value="15">15</option>
                            <option @(20 == numPerPage ? "selected = 'selected' " : string.Empty) value="20" >20</option>
                        </select>
                        <input type='hidden' name='page' value='@page' />
                        <input type='hidden' name='orderByField' value='@orderByField' />
        
                    }
                </div>
            </div>
            <div class="well">
               
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Html.ActionLink("Mã đơn hàng", "Index", "Order", new { orderByField = "IDOrder" }, new { title = "Bấm vào để sắp xếp" })</th>
                                <th>@Html.ActionLink("Ngày đặt", "Index", "Order", new { orderByField = "Date" }, new { title = "Bấm vào để sắp xếp" })</th>
                                <th>@Html.ActionLink("Khách hàng", "Index", "Order", new { orderByField = "User" }, new { title = "Bấm vào để sắp xếp" })</th>
                                <th>@Html.ActionLink("Tổng tiền", "Index", "Order", new { orderByField = "Total" }, new { title = "Bấm vào để sắp xếp" })</th>
                                <th>Tình trạng</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{int stt = ViewBag.STT;}
                            @foreach (OrderViewModel p in Model)
                            {
                                stt = stt + 1;
                                <tr>
                                    <td>@stt</td>
                                    <td>
                                        <a href="@Url.Action("OrderDetailAdmin", "Order", new { idOrder = @p.ID })">
                                            @p.ID
                                        </a>
                                    </td>
                                    <td>@p.Date</td>
                                    <td>
                                        <a>
                                            @p.UserName
                                        </a>
                                    </td>
                                    <td>@p.Total</td>
                                    <td>
                                        @using(Html.BeginForm("Index", "Order", FormMethod.Post))
                                        {

                                            <select class="dropdown" name='status' onchange='submit()' data-settings='{"wrapperClass":"metro1"}'>
                                                <option @(p.IDOrderStatus == 1 ? "selected = 'selected' " : string.Empty) value="1">Chưa xác nhận</option>
                                                <option @(p.IDOrderStatus == 2 ? "selected = 'selected' " : string.Empty) value="2">Đã xác nhận</option>
                                                <option @(p.IDOrderStatus == 3 ? "selected = 'selected' " : string.Empty) value="3">Đang trên đường giao hàng</option>
                                                <option @(p.IDOrderStatus == 4 ? "selected = 'selected' " : string.Empty) value="4">Đã giao hàng</option>
                                                <option @(p.IDOrderStatus == 6 ? "selected = 'selected' " : string.Empty) value="6">Hủy bởi admin</option>
                                            </select>
                                            <input type='hidden' name='numPerPage' value='@numPerPage' />
                                            <input type='hidden' name='page' value='@page' />
                                            <input type='hidden' name='orderByField' value='@orderByField' />
                                            <input type='hidden' name='idOrder' value='@p.ID' />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                
            </div>
            <div class="pagination">
                <ul>
                    @if (page > 1)
                    {
                        <li>
                            <a title="Trang Trước" href="@Url.Action("Index", "Order",
                new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage - 1), orderByField = ViewBag.orderByField })">
                                <
                            </a>
                        </li>
                    }

                    @for (int p = startPage; p <= endPage; p++)
                    {
                        if (p == page)
                        {
                            <li>
                                <a class="active-page">@p</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a title="Trang @p" href="@Url.Action("Index", "Order",
                        new { numPerPage = ViewBag.NumPerPage, page = p, orderByField = ViewBag.orderByField })">
                                    @p
                                </a>
                            </li>
                        }


                    }

                    @if (page <= (numPage - 1))
                    {
                        <li>
                            <a title="Trang Sau" href="@Url.Action("Index", "Order",
                                new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage + 1), orderByField = ViewBag.orderByField })">
                                >
                            </a>
                        </li>
                    }
                </ul>
            </div>
            

            <!-- End body-->



