﻿@using System.Globalization
@using ShoesStore.Models.ViewModel
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--- start-content---->
<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>CHI TIẾT ĐƠN HÀNG</h1>
            <div class="register-grids">
                <form>
                    <div class="register-top-grid">
                        <h3>THÔNG TIN ĐƠN HÀNG</h3>
                        <div>
                            <span>Mã đơn hàng<label></label></span>
                            <input type="text" disabled="disabled" value="@ViewBag.IDOrder" readonly="true">
                        </div>
                        <div>
                            <span>Ngày đặt<label></label></span>
                            <input type="text" disabled="disabled" value="@ViewBag.Date" readonly="true">
                        </div>
                        <div>
                            <span>Tình trạng<label></label></span>
                            <input type="text" disabled="disabled" value="@ViewBag.Status" readonly="true">
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                    <div class="register-bottom-grid">
                        <h3>CHI TIẾT ĐƠN HÀNG</h3>
                        <table class="reference">
                            <thead>
                                <tr>
                                    <th><strong>#</strong></th>
                                    <th class="text-center"><strong>Tên sản phẩm</strong></th>
                                    <th class="text-center"><strong>Hình ảnh</strong></th>
                                    <th class="text-center"><strong>Màu Sắc</strong></th>
                                    <th class="text-center"><strong>Size</strong></th>
                                    <th class="text-center"><strong>Số Lượng</strong></th>
                                    <th class="text-center"><strong>Đơn giá</strong></th>
                                    <th class="text-center"><strong>Thành tiền</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                               @{int stt = 0;}
                                @foreach (OrderDetailViewModel p in Model)
                                {
                                    stt = stt + 1;
                                    double temp = p.Price * p.Quantity;
                                    <tr>
                                        <td class="text-center">@stt</td>
                                        <td class="text-center">@p.ProductName</td>
                                        <td><img src=@p.Image title=@p.ProductName />  </td>
                                        <td class="text-center">@p.Color</td>
                                        <td class="text-center">@p.Size</td>
                                        <td class="text-center">@p.Quantity</td>
                                        <td class="text-center">@p.Price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        <td class="text-center">@temp.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center"><span style="font-weight:bold">Tổng tiền</span></td>
                                    <td class="text-center"><span style="font-weight:bold">@ViewBag.Total.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                    
                </form>
                <div class="loadmore-products-1">
                    @if (ViewBag.IDOrderStatus == 1)
                    {
                        <a href="@Url.Action("DeleteOrderByUser", "Order", new { idOrder = ViewBag.IDOrder })">
                                Hủy đơn hàng
                        </a>
                   }
                </div>
              </div>
        </div>
    </div>
</div>
<!---- end content---->
