﻿@using ShoesStore.Models.ViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

 <!-- Start body-->
<div class="content">

    <div class="header">
        <h1 class="page-title">Thông tin đơn hàng</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Trang chủ", "Index", "Category")<span class="divider">/</span></li>
        <li>@Html.ActionLink("Danh sách đơn hàng", "Index", "Order")<span class="divider">/</span></li>      
        <li class="active">Đơn hàng</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <label> <strong>Mã đơn hàng:</strong>@ViewBag.IDOrder</label>
                <label><strong>Người đặt:</strong> @ViewBag.UserName</label>
                <label><strong>Ngày đặt:</strong> @ViewBag.Date</label>
                <label><strong>Tình trạng:</strong> @ViewBag.Status</label>
                <div class="btn-group">
                </div>
            </div>
            <div class="well">
                <table class="table">
                    <tr>
                        <th><strong>#</strong></th>
                        <th class="text-center"><strong>Tên sản phẩm</strong></th>
                        <th style="width: 200px;text-align='left'"><strong>Hình ảnh</strong></th>
                        <th class="text-center"><strong>Màu Sắc</strong></th>
                        <th class="text-center"><strong>Size</strong></th>
                        <th class="text-center"><strong>Số Lượng</strong></th>
                        <th class="text-center"><strong>Đơn giá</strong></th>
                        <th class="text-center"><strong>Thành tiền</strong></th>
                    </tr>
                    <tbody>
                        @{int stt = 0;}
                        @foreach (OrderDetailViewModel p in Model)
                        {
                            stt = stt + 1;
                            double temp = p.Price * p.Quantity;
                            <tr>
                                <td class="text-center">@stt</td>    
                                <td class="text-center">@p.ProductName</td>
                                <td><img src=@p.Image title=@p.ProductName />  </td>
                                <td class="text-center">@p.Color</td>
                                <td class="text-center">@p.Size</td>
                                <td class="text-center">@p.Quantity</td>
                                <td class="text-center">@p.Price</td>
                                <td class="text-center">@temp</td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center"><span style="font-weight:bold">Tổng tiền</span></td>
                            <td class="text-center"><span style="font-weight:bold">@ViewBag.Total</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- End body-->
