﻿@using ShoesStore.Models.ViewModel

@{
    ViewBag.Title = "UnconfirmedOrder";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}


@{int numPerPage = ViewBag.NumPerPage;}
@{int numOrder = @ViewBag.NumOrder;}
@{int numPage = @ViewBag.PageCount;}
@{int page = @ViewBag.CurrentPage;}

@{  int skipPage = 2;
  int startPage = page - skipPage <= 0 ? 1 : page - skipPage;
  int endPage = page + skipPage > numPage ? numPage : page + skipPage;
}

@{string orderByField = ViewBag.orderByField;
}




<!-- Start body-->
<div class="content">

    <div class="header">

        <h1 class="page-title">@ViewBag.Name</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Trang chủ", "Index", "Category")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Name</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <div class="btn-group">
                    @using (Html.BeginForm("UnconfirmedOrder", "Order", FormMethod.Get))
                    {
                        <label class="menuControl">Số đơn đặt hàng/trang</label>
                        <select class="dropdown" name='numPerPage' onchange='submit()' data-settings='{"wrapperClass":"metro1"}'>
                            <option @(10 == numPerPage ? "selected = 'selected' " : string.Empty) value="10">10</option>
                            <option @(15 == numPerPage ? "selected = 'selected' " : string.Empty) value="15">15</option>
                            <option @(20 == numPerPage ? "selected = 'selected' " : string.Empty) value="20">20</option>
                        </select>
                        <input type='hidden' name='page' value='@page' />
                        <input type='hidden' name='orderByField' value='@orderByField' />
                        <input type='hidden' name='orderStatus' value='@ViewBag.OrderStatus' />
                       
                    }
                </div>
            </div>
            <div class="well">

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.ActionLink("Mã đơn hàng", "UnconfirmedOrder", "Order", new { orderByField = "IDOrder" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>@Html.ActionLink("Ngày đặt", "UnconfirmedOrder", "Order", new { orderByField = "Date" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>@Html.ActionLink("Khách hàng", "UnconfirmedOrder", "Order", new { orderByField = "User" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>@Html.ActionLink("Tổng tiền", "UnconfirmedOrder", "Order", new { orderByField = "Total" }, new { title = "Bấm vào để sắp xếp" })</th>
                            <th>Tình trạng</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{int stt = ViewBag.STT;}
                        @foreach (OrderViewModel p in Model)
                        {
                            stt = stt + 1;
                            <tr>
                                <td>@stt</td>
                                <td>
                                    <a href="@Url.Action("OrderDetailAdmin", "Order", new { idOrder = @p.ID })">
                                        @p.ID
                                    </a>
                                </td>
                                <td>@p.Date</td>
                                <td>
                                    <a>
                                        @p.UserName
                                    </a>
                                </td>
                                <td>@p.Total</td>
                                <td>@p.OrderStatus</td>
                                <td>
                                   
                                   @using (Html.BeginForm("UnconfirmedOrder", "Order", FormMethod.Post))
                                   {
                                       if (ViewBag.orderStatus == 1)
                                       {
                                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                                            <input type='hidden' name='idOrderStatus' value='2' />
                                       }
                                       if (ViewBag.orderStatus == 2)
                                       {
                                        <button type="submit" class="btn btn-primary">Đã giao</button>
                                        <input type='hidden' name='idOrderStatus' value='4' />
                                       }
                                    <input type='hidden' name='numPerPage' value='@numPerPage' />
                                    <input type='hidden' name='page' value='@page' />
                                    <input type='hidden' name='orderByField' value='@orderByField' />
                                    <input type='hidden' name='idOrder' value='@p.ID' />
                                    <input type='hidden' name='orderStatus' value='@ViewBag.OrderStatus' />

                                   }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
            <div class="pagination">
                <ul>
                    @if (page > 1)
                    {
                        <li>
                            <a title="Trang Trước" href="@Url.Action("UnconfirmedOrder", "Order",
                        new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage - 1), orderByField = ViewBag.orderByField, orderStatus = ViewBag.OrderStatus })">
                                <
                            </a>
                        </li>
                    }

                    @for (int p = startPage; p <= endPage; p++)
                    {
                        if (p == page)
                        {
                            <li>
                                <a class="active-page">@p</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a title="Trang @p" href="@Url.Action("UnconfirmedOrder", "Order",
             new { numPerPage = ViewBag.NumPerPage, page = p, orderByField = ViewBag.orderByField, orderStatus = ViewBag.OrderStatus })">
                                    @p
                                </a>
                            </li>
                        }


                    }

                    @if (page <= (numPage - 1))
                    {
                        <li>
                            <a title="Trang Sau" href="@Url.Action("UnconfirmedOrder", "Order",
                new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage + 1), orderByField = ViewBag.orderByField, orderStatus = ViewBag.OrderStatus })">
                                >
                            </a>
                        </li>
                    }
                </ul>
            </div>


            <!-- End body-->




