﻿
@{
    ViewBag.Title = "CartDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>CHI TIẾT GIỎ HÀNG</h1>
            <div id="divmain" class="register-grids">
                <div class="register-top-grid">
                    @Html.Action("CartDetailPartial", "Cart")
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function cmbOnChange(sender) {
        
        var procId = sender.getAttribute("name"),
            quantity = sender.value,
            url = sender.getAttribute("action");

        // Send the data using post
        var posting = $.post(url, {
            itemId: procId,
            quantity: quantity
        }, null, "html");

        posting.done(function (data) {
            document.getElementById("divmain").innerHTML = data;
            //alert("Data Loaded: " + data);
            //var cmb = document.getElementById("cmbQuantity" + data.itemId);
            //if ((data.quantity - 0) > 0) {
            //    cmb.selectedIndex = data.quantity - 1;
            //}
        });
    }

    function lnkDeleteOnClick(sender) {

        var procId = sender.getAttribute("itemId"),
            url = sender.getAttribute("action");

        // Send the data using post
        var posting = $.post(url, {
            itemId: procId
        }, null, "html");

        posting.done(function (data) {
            document.getElementById("divmain").innerHTML = data;


        });
    }
</script>
