﻿@using System.Configuration
@using System.Globalization
@using ShoesStoreBLL.EF
@using ShoesStoreBLL.EF
@model ShoesStore.Models.ViewModel.CartDetailViewModel
@{
    ViewBag.Title = "XYZ";
    Layout = null;
}
@using (Html.BeginForm("CheckOut", "Cart", FormMethod.Get, new { @class = "form-horizontal" }))
{
    bool editable = ViewBag.Editable == true;
    @*@Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })*@


    <table class="reference">
        <thead>
            <tr>
                <th><strong>#</strong></th>
                <th><strong>Tên sản phẩm</strong></th>
                <th class="text-center"><strong>Màu Sắc</strong></th>
                <th class="text-center"><strong>Size</strong></th>
                <th class="text-center"><strong>Số Lượng</strong></th>
                <th class="text-center"><strong>Đơn Giá</strong></th>
                @{
    if (editable)
    {
        <th class="text-center"><strong></strong></th>
    }
                }

            </tr>
        </thead>
        <tbody>
            @{
    if (Model.TotalQuanity == 0)
    {
        <tr>
            <td class="text-center" colspan="6">Bạn chưa thêm sản phẩm nào vào giỏ!</td>
        </tr>
    }
    else
    {
        for (int i = 0; i < Model.CartItems.Count; i++)
        {
            CartItem item = Model.CartItems[i];
            ShoeStoreEntities entity = new ShoeStoreEntities();
            Product product = entity.Products.SingleOrDefault(p => p.ID == item.ItemId);
            if (product != null)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>
                        <a href="@Url.Action("Details", "Product", new { idProduct = product.ID })">@product.ProductName</a>
                        @*@product.ProductName*@
                    </td>
                    <td class="text-center">
                        @product.Color.ColorName
                    </td>
                    <td class="text-center">@product.Size.SizeName</td>
                    <td class="text-center">

                        @{
                if (editable)
                {
                    string id = "cmbQuantity" + item.ItemId;
                    <select id="@id" name="@item.ItemId" action="@Url.Action("ChangeQuantity", "Cart")" onchange=" cmbOnChange(this) ">
                        @{
                    var cartItems = entity.CartItems.Where(c => c.ItemId == product.ID);
                    int hasOrdered = 0;
                    if (cartItems.Any())
                    {
                        hasOrdered = cartItems.Sum(c => c.Quanity);
                    }
                    int maxQuanity = int.Parse(ConfigurationManager.AppSettings["MaxQuantityPerProduct"]);
                    if (maxQuanity > (product.Quantity - hasOrdered + item.Quanity))
                    {
                        maxQuanity = product.Quantity - hasOrdered + item.Quanity;
                    }
                        }

                        @for (int j = 1; j <= maxQuanity; j++)
                        {
                            if (@item.Quanity == j)
                            {
                                <option selected="selected" value="@j">@j</option>
                            }
                            else
                            {
                                <option value="@j">@j</option>
                            }

                        }
                    </select>
                }
                else
                {
                    @item.Quanity
                }

                        }
                    </td>
                    <td class="text-center">@item.Price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                    @{
                if (editable)
                {
                    <td class="text-center" id="last-column">
                        <span class="pointer" itemid=@item.ItemId onclick="lnkDeleteOnClick(this)" action="/Cart/RemoveFromCart">
                            Xóa
                        </span>
                        @*@Html.ActionLink("Xóa", null,null, null, new { itemId = item.ItemId, onclick = "lnkDeleteOnClick(this)", action = "Cart/RemoveFromCart" })*@
                    </td>
                }
                    }

                </tr>
            }
        }
        if (editable)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right"><strong>Tổng Tiền:</strong></td>
                <td>@Model.TotalPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                <td colspan="2"><input type="submit" value="Thanh Toán" id="btnThanhToan" /></td>
            </tr>
        }
        else
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right"><strong>Tổng Tiền:</strong></td>
                <td class="text-center">@Model.TotalPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
            </tr>
        }

    }
            }
        </tbody>
    </table>
}
