﻿@using Microsoft.AspNet.Identity
@model ShoesStore.Models.ViewModel.CheckOutViewModel

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--- start-content---->
<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>THANH TOÁN</h1>
            <div class="register-grids">
                @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary("", new { @class = "text-danger errornoti" })
                    <div class="register-top-grid">
                        <h3>THÔNG TIN NGƯỜI ĐẶT HÀNG</h3>

                        <div>
                            <span>Họ tên<label></label></span>
                            <input type="text" id="txtUserName"value="@Model.Name" disabled="disabled">
                        </div>
                        <div>
                            <span>Địa chỉ<label></label></span>
                            <input type="text" id="txtUserAddress" value="@Model.Address" disabled="disabled">
                        </div>
                        <div>
                            <span>Email<label></label></span>
                            <input type="text" id="txtUserEmail" value="@Model.Email" disabled="disabled">
                        </div>
                        <div>
                            <span>Điện thoại<label></label></span>
                            <input type="text" id="txtUserPhone" value="@Model.Phone" disabled="disabled">
                        </div>

                        <div class="clear"> </div><div > </div>
                        <h3>THÔNG TIN NGƯỜI NHẬN HÀNG</h3>

                        <div>
                            @Html.CheckBoxFor(model => model.IsOnePerson, new { onchange = "ckbIsOnePerson_OnChange(this)", @checked="true"})
                            @Html.LabelFor(model => model.IsOnePerson)
                        </div>
                        <div class="clear"> </div>
                        <div></div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Name)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Name, new{id="txtRecipientName"})
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Address)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Address, new{id="txtRecipientAddress"})
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Email)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Email, new{id="txtRecipientEmail"})
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger errornoti" })
                        </div>
                        <div>
                            <span>
                                @Html.LabelFor(model => model.Phone)
                                <label>*</label>
                            </span>
                            @Html.TextBoxFor(model => model.Phone, new{id="txtRecipientPhone"})
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger errornoti" })
                        </div>
                    </div>

                    <div class="clear"> </div>
                    <div class="register-bottom-grid">
                        <h3>HÌNH THỨC THANH TOÁN</h3>
                        <div>
                            <span>Thanh toán khi nhận hàng</span>
                        </div>

                        <div class="clear"> </div>
                    </div>
                    
                    <div class="clear"> </div>
                    <div class="register-bottom-grid">
                        <h3>CHI TIẾT ĐƠN HÀNG</h3>
                        @Html.Action("CartDetailPartial", "Cart")
                        <div class="clear"> </div>
                        <input type="submit" value="xác nhận" />
                    </div>
                    <div class="clear"> </div>

                }
            </div>
        </div>
    </div>
</div>

<script >
                function checkout() {
                    var x = document.getElementById("thanhToan").value;
					document.getElementById("demo").innerHTML = "You selected: " + x;
                }

                function ckbIsOnePerson_OnChange(sender) {
                    var source;
                    var dest;

                    if (sender.checked == true) {
                        source = document.getElementById("txtUserName");
                        dest = document.getElementById("txtRecipientName");
                        dest.value = source.value;
                        dest.disabled = true;

                        source = document.getElementById("txtUserAddress");
                        dest = document.getElementById("txtRecipientAddress");
                        dest.value = source.value;
                        dest.disabled = true;
                        
                        source = document.getElementById("txtUserEmail");
                        dest = document.getElementById("txtRecipientEmail");
                        dest.value = source.value;
                        dest.disabled = true;

                        source = document.getElementById("txtUserPhone");
                        dest = document.getElementById("txtRecipientPhone");
                        dest.value = source.value;
                        dest.disabled = true;
                    } else {
                        source = document.getElementById("txtUserName");
                        dest = document.getElementById("txtRecipientName");
                        dest.value = source.value;
                        dest.disabled = false;

                        source = document.getElementById("txtUserAddress");
                        dest = document.getElementById("txtRecipientAddress");
                        dest.value = source.value;
                        dest.disabled = false;

                        source = document.getElementById("txtUserEmail");
                        dest = document.getElementById("txtRecipientEmail");
                        dest.value = source.value;
                        dest.disabled = false;

                        source = document.getElementById("txtUserPhone");
                        dest = document.getElementById("txtRecipientPhone");
                        dest.value = source.value;
                        dest.disabled = false;
                    }
                }
</script>
<!---- end content---->