﻿
@{
    ViewBag.Title = "StatisticsGeneral";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<div class="content">
    
    <div class="header">
        <h1 class="page-title">Thống kê</h1>
    </div>

    <div>
        <h3>Chọn mốc thời gian thống kê</h3>
        <input type="text" id="datepicker" value="@DateTime.Today.ToShortDateString()">
    </div>

    <div>
        <h2>Top 10 sản phẩm </h2>
        <input type="button" value="Theo ngày" id="btnTopDay" />
        <input type="button" value="Theo tháng" id="btnTopMonth" />
        <input type="button" value="Theo năm" id="btnTopYear" />
    </div>

    <div>
        <h2>Doanh số bán hàng</h2>
        <input type="button" value="Theo ngày" id="btnDay" />
        <input type="button" value="Theo tháng" id="btnMonth" />
        <input type="button" value="Theo năm" id="btnQuarter" />
    </div>



    <div>
        @Html.Partial("StatisticsPartial")
        <div id="nameChart" style="text-align:center"></div>
    </div>

    

    <!-- Statictics-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="~/Scripts/Admin/nv.d3.js" charset="utf-8"></script>
    <link href="~/Content/Admin/nv.d3.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
        });
    });
    </script>

    <script>
        $("#btnDay").click(function () {
            var url = "/Statistics/StatisticsDay?strDate=";

            $.get(url + $("#datepicker").val(), function(data) {
                historicalBarChart = $.parseJSON(data);
            }).always(function() {
                $("#chart1 svg").html("");
            }).done(function() {
                nv.addGraph(function() {
                    var chart = nv.models.discreteBarChart()
                        .x(function(d) { return d.label })
                        .y(function(d) { return d.value })
                        .staggerLabels(true)
                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                        .tooltips(false)
                        .showValues(true)
                        .duration(250);

                    d3.select('#chart1 svg')
                        .datum(historicalBarChart)
                        .call(chart);

                    nv.utils.windowResize(chart.update);
                    return chart;
                });
                $("#nameChart").html("Thống kê doanh số 7 ngày trước ngày " + $("#datepicker").val());
            }).fail(function() {
                alert("Không có phản hồi từ máy chủ hoặc dữ liệu nhập không hợp lệ");
            });
        });
    </script>
    <script>
        $("#btnMonth").click(function () {
            var url = "/Statistics/StatisticsMonth?strDate=";
            $.get(url + $("#datepicker").val(), function(data) {
                historicalBarChart = $.parseJSON(data);
            }).always(function() {
                $("#chart1 svg").html("");
            }).done(function() {
                nv.addGraph(function() {
                    var chart = nv.models.discreteBarChart()
                        .x(function(d) { return d.label })
                        .y(function(d) { return d.value })
                        .staggerLabels(true)
                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                        .tooltips(false)
                        .showValues(true)
                        .duration(250);

                    d3.select('#chart1 svg')
                        .datum(historicalBarChart)
                        .call(chart);

                    nv.utils.windowResize(chart.update);
                    return chart;
                });
                var array = $("#datepicker").val().split("/", 3);
                $("#nameChart").html("Thống kê doanh số theo tháng trong năm " + array[2]);
            }).fail(function() {
                alert("Không có phản hồi từ máy chủ hoặc dữ liệu nhập không hợp lệ");
            });
        });

    </script>
    <script>
        $("#btnQuarter").click(function () {
            var url = "/Statistics/StatisticsYear?strDate=";

            $.get(url + $("#datepicker").val(), function(data) {

                historicalBarChart = $.parseJSON(data);

            }).always(function() {
                $("#chart1 svg").html("");
            }).done(function() {
                nv.addGraph(function() {
                    var chart = nv.models.discreteBarChart()
                        .x(function(d) { return d.label })
                        .y(function(d) { return d.value })
                        .staggerLabels(true)
                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                        .tooltips(false)
                        .showValues(true)
                        .duration(250);

                    d3.select('#chart1 svg')
                        .datum(historicalBarChart)
                        .call(chart);

                    nv.utils.windowResize(chart.update);
                    return chart;
                });
                var array = $("#datepicker").val().split("/", 3);
                $("#nameChart").html("Thống kê doanh số 5 năm gần đây từ năm " + array[2]);
            }).fail(function() {
                alert("Không có phản hồi từ máy chủ hoặc dữ liệu nhập không hợp lệ");
            });
        });
    </script>

    <script>
        $("#btnTopDay").click(function () {
            var url = "/Statistics/Statistics10TopDay?strDate=";
            $.get(url + $("#datepicker").val(), function(data) {
                historicalBarChart = $.parseJSON(data);
            }).always(function() {
                $("#chart1 svg").html("");
            }).done(function() {
                nv.addGraph(function() {
                    var chart = nv.models.discreteBarChart()
                        .x(function(d) { return d.label })
                        .y(function(d) { return d.value })
                        .staggerLabels(true)
                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                        .tooltips(false)
                        .showValues(true)
                        .duration(250);

                    d3.select('#chart1 svg')
                        .datum(historicalBarChart)
                        .call(chart);

                    nv.utils.windowResize(chart.update);
                    return chart;
                });
                $("#nameChart").html("Thống kê Top 10 sản phẩm trong ngày " + $("#datepicker").val());
            }).fail(function() {
                alert("Không có phản hồi từ máy chủ hoặc dữ liệu nhập không hợp lệ");
            });
        });
    </script>
    <script>
        $("#btnTopMonth").click(function () {
            var url = "/Statistics/Statistics10TopMonth?strDate=";
            $.get(url + $("#datepicker").val(), function(data) {
                historicalBarChart = $.parseJSON(data);
            }).always(function() {
                $("#chart1 svg").html("");
            }).done(function() {
                nv.addGraph(function() {
                    var chart = nv.models.discreteBarChart()
                        .x(function(d) { return d.label })
                        .y(function(d) { return d.value })
                        .staggerLabels(true)
                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                        .tooltips(false)
                        .showValues(true)
                        .duration(250);

                    d3.select('#chart1 svg')
                        .datum(historicalBarChart)
                        .call(chart);

                    nv.utils.windowResize(chart.update);
                    return chart;
                });
                var array = $("#datepicker").val().split("/", 3);
                $("#nameChart").html("Thống kê Top 10 sản phẩm trong tháng " + array[1]);
            }).fail(function() {
                alert("Không có phản hồi từ máy chủ hoặc dữ liệu nhập không hợp lệ");
            });
        });
    </script>
    <script>
        $("#btnTopYear").click(function () {
            var url = "/Statistics/Statistics10TopYear?strDate=";
            $.get(url + $("#datepicker").val(), function (data) {
                historicalBarChart = $.parseJSON(data);
            }).always(function () {
                $("#chart1 svg").html("");
            })
                .done(function () {
                nv.addGraph(function () {
                    var chart = nv.models.discreteBarChart()
                        .x(function (d) { return d.label })
                        .y(function (d) { return d.value })
                        .staggerLabels(true)
                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                        .tooltips(false)
                        .showValues(true)
                        .duration(250);

                    d3.select('#chart1 svg')
                        .datum(historicalBarChart)
                        .call(chart);

                    nv.utils.windowResize(chart.update);
                    return chart;
                });
                var array = $("#datepicker").val().split("/", 3);
                $("#nameChart").html("Thống kê Top 10 sản phẩm trong năm " + array[2]);
            }).fail(function () {
                    alert("Không có phản hồi từ máy chủ hoặc dữ liệu nhập không hợp lệ");
            });
        });
    </script>

    <style>
        text {
            font: 12px sans-serif;
        }

        svg {
            display: block;
        }

        html, body, #chart1, svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>

</div>

