﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JDI Shoe Store Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/theme.css">
    <link rel="stylesheet" href="~/Content/Admin/font-awesome.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!--<script src="~/Scripts/Admin/jquery-1.7.2.min.js" type="text/javascript"></script>-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!-- Demo page code -->
    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .brand {
            font-family: georgia, serif;
        }

            .brand .first {
                color: #ccc;
                font-style: italic;
            }

            .brand .second {
                color: #fff;
                font-weight: bold;
            }
    </style>
   
</head>

<body class="">

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav pull-right">

                <li id="fat-menu" class="dropdown">
                    <a link="account" role="button" onclick="ShowHideLogOut(this)">
                        <i class="icon-user"></i> @User.Identity.GetUserName()
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul id="account" class="dropdown-menu">
                        @*<li><a tabindex="-1" href="#">My Account</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" class="visible-phone" href="#">Settings</a></li>
                        <li class="divider visible-phone"></li>*@
                        <li>@Html.ActionLink("Đăng Thoát", "LogOut", "Account")</li>
                    </ul>
                </li>

            </ul>
            <a class="brand"><span class="first">Just Do It</span> <span class="second">Shoe Store</span></a>
        </div>
    </div>



    <div class="sidebar-nav">
        <a link="account-menu" class="nav-header " onclick="ShowHide(this)"><i class="icon-user"></i>Thành Viên<span class="label label-info"></span></a>
        <ul id="account-menu" class="nav nav-list collapse">
            <li>@Html.ActionLink("Tìm Kiếm", "Search", "Account")</li>
            <li>@Html.ActionLink("Danh sách Thành Viên", "ShowAllAccounts", "Account")</li>
            <li>@Html.ActionLink("Thêm Thành Viên", "AddUser", "Account")</li>
        </ul>
        <a link="category-menu" class="nav-header " onclick="ShowHide(this)"><i class="icon-gift"></i>Loại sản phẩm<i class="icon-chevron-up"></i></a>
        <ul id="category-menu" class="nav nav-list collapse">
            <li>@Html.ActionLink("Danh sách loại sản phẩm", "Index", "Category")</li>
            <li>@Html.ActionLink("Thêm loại sản phẩm", "Add", "Category")</li>
        </ul>
        <a link="product-menu" class="nav-header " onclick="ShowHide(this)"><i class="icon-gift"></i>Sản phẩm<i class="icon-chevron-up"></i></a>
        <ul id="product-menu" class="nav nav-list collapse">
            <li>@Html.ActionLink("Danh sách sản phẩm", "Index", "Product")</li>
            <li>@Html.ActionLink("Thêm sản phẩm", "Add", "Product")</li>
        </ul>

        <a link="order-menu" class="nav-header " onclick="ShowHide(this)"><i class="icon-list-alt"></i>Đơn hàng<i class="icon-chevron-up"></i></a>
        <ul id="order-menu" class="nav nav-list collapse">
            <li>@Html.ActionLink("Danh sách đơn hàng", "Index", "Order")</li>          
            <li>
                <a href="@Url.Action("UnconfirmedOrder", "Order",
                                new { orderStatus = 1 })">
                    Đơn hàng chưa xác nhận
                </a>
            </li>
            <li>
                <a href="@Url.Action("UnconfirmedOrder", "Order",
                                new { orderStatus = 2 })">
                    Đơn hàng đã xác nhận
                </a>
            </li>
            <li>
                <a href="@Url.Action("UnconfirmedOrder", "Order",
                                new { orderStatus = 4 })">
                    Đơn hàng đã giao
                </a>
            </li>
            
        </ul>


        <a link="sales-menu" class="nav-header " onclick="ShowHide(this)"><i class="icon-list-alt"></i>Thống kê<i class="icon-chevron-up"></i></a>
        <ul id="sales-menu" class="nav nav-list collapse">
            <li>@Html.ActionLink("Doanh số bán hàng", "StatisticsGeneral", "Statistics")</li>
            <li>@Html.ActionLink("Top 10 sản phẩm", "StatisticsGeneral", "Statistics")</li>
            <li>@Html.ActionLink("Top 10 loại sản phẩm", "StatisticsGeneral", "Statistics")</li>
        </ul>

        
    </div>


    
        @RenderBody()
        <footer>
            <hr>
            <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
            <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
            <p>&copy; 2012 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
        </footer>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

  
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function () {
            $('.demo-cancel-click').click(function () { return false; });
        });
    </script>
    <script>
        function ShowHide(sender) {
            var idItem = sender.getAttribute("link");
            var item = document.getElementById(idItem);
            var itemClass = item.className;
            if (itemClass.indexOf("in") != -1) {
                item.className = itemClass.replace("in","");
            } else {
                item.className += " in";
            }
        };
        function ShowHideLogOut(sender) {
            var item = document.getElementById("fat-menu");
            var itemClass = item.className;
            if (itemClass.indexOf("open") != -1) {
                item.className = itemClass.replace("open","");
            } else {
                item.className += " open";
            }
        };
    </script>
     
</body>
</html>
