﻿<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
@using Microsoft.AspNet.Identity
@using ShoesStore.Models.Services
@using ShoesStoreBLL.EF;
<!DOCTYPE html>
<html>
<head>
    <title>Giày Just Do It</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> 
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
    </script>
    <!----webfonts---->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>-->
    <!----//webfonts---->
    <!----start-alert-scroller---->
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easy-ticker.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#demo').hide();
            $('.vticker').easyTicker();
        });
    </script>
    <!----start-alert-scroller---->
    <!-- start menu -->
    <link href="~/Content/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="~/Scripts/menu_jquery.js"></script>
    <!-- //End menu -->
    <!---slider---->
    <link rel="stylesheet" href="~/Content/slippry.css">
    <script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/scripts-f0e4e0c2.js" type="text/javascript"></script>
    
    

    <script>
        jQuery('#jquery-demo').slippry({
            // general elements & wrapper
            slippryWrapper: '<div class="sy-box jquery-demo" />', // wrapper to wrap everything, including pager
            // options
            adaptiveHeight: false, // height of the sliders adapts to current slide
            useCSS: false, // true, false -> fallback to js if no browser support
            autoHover: false,
            transition: 'fade'
        });
    </script>
    <!----start-pricerage-seletion---->
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.css">
    <script type='text/javascript'>//<![CDATA[
        $(window).load(function(){
            $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 100, 400 ],
                slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                }
            });
            $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

        });//]]>
    </script>
    <!----//End-pricerage-seletion---->
    <!---move-top-top---->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
            });
        });
    </script>
    <!---//move-top-top---->
    @RenderSection("Capcha", required: false)
    
    <!-- Google Analytics -->
    @*<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64301942-1', 'auto');
    ga('send', 'pageview');

    </script>*@
    <!-- End Google Analytics -->
</head>
<body onload="bodyonload()">
    <!---start-wrap---->
    <!---start-header---->
    <div class="header">
        <div class="top-header">
            <div class="wrap">
                <div class="top-header-left">
                    <ul>
                        <!---cart-tonggle-script---->
                        <script type="text/javascript">
                            $(function () {
                                var $cart = $('#cart');
                                $('#clickme').click(function (e) {
                                    e.stopPropagation();
                                    if ($cart.is(":hidden")) {
                                        $cart.slideDown("slow");
                                    } else {
                                        $cart.slideUp("slow");
                                    }
                                });
                                $(document.body).click(function () {
                                    if ($cart.not(":hidden")) {
                                        $cart.slideUp("slow");
                                    }
                                });
                            });
                        </script>
                        <!---//cart-tonggle-script---->                        
                        <li>
                            <a class="cart" href="#"><span id="clickme"> </span></a>
                            @*@Html.ActionLink(" ", "CartDetail", "Cart", null, new { @class = "cart" })*@
                        </li>
                        <!---start-cart-bag---->
                        <div id="cart">
                            @{
                                CartService service = CartService.GetCart(Context);
                            }
                            Giỏ hàng có: @service.GetTotalQuantity() sản phẩm<br />
                            Tổng giá trị: @service.GetTotalPrice() VNĐ<br /><br />
                            @Html.ActionLink("Xem Chi Tiết", "CartDetail", "Cart")
                        </div>
                        <!---start-cart-bag---->
                        @*<li><a class="info" href="#"><span> </span></a></li>*@
                    </ul>
                </div>
                <div class="top-header-center">
                    <div class="top-header-center-alert-left">
                        <h3>Giao Hàng Miễn Phí</h3>
                    </div>
                    <div class="top-header-center-alert-right">
                        <div class="vticker">
                            <ul>
                                <li>Áp dụng cho hóa đơn trên 200.000VNĐ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="top-header-right">
                    
                    @if (Request.IsAuthenticated)
                    {
                            @*<ul class="megamenu skyblue">*@
                                @*<li class="active grid">*@
                        <a href="#" id="account-name" onclick="showAccountMenu(this)">@User.Identity.GetUserName()</a>

                                @*</li>*@
                            @*</ul>*@
                    }
                    else
                    {
                        <ul>
                            <li>
                                @Html.ActionLink("Đăng Nhập", "Login", "Account")
                                <span></span>
                            </li>
                            <li>
                                @Html.ActionLink("Đăng Kí", "Register", "Account")
                                <span></span>
                            </li>
                        </ul>
                    }
                        
                </div>
                
                <div class="clear"> </div>
            </div>
        </div>
        
        <div class="wrap" id="account-div" hidden="true">
            <div id="account-menu">
                <div class="row" id="account-row">
                    @Html.ActionLink("Tài khoản", "EditProfile", "Account", routeValues: null, htmlAttributes: new { id = "account-menu-item" })
                </div>
                <div class="row" id="account-row">
                    <a id="account-menu-item" href="@Url.Action("HistoryOrder","Order")">Lịch sử mua hàng</a>
                </div>
                <div class="row" id="account-row">
                    @Html.ActionLink("Đăng Thoát", "LogOut", "Account", routeValues: null, htmlAttributes: new { id = "account-menu-item" })
                </div>
            </div>
        </div>
        <script>
            function showAccountMenu(sender) {

                    var accountMenu = document.getElementById("account-div");
                    if (accountMenu.style.display == "none") {
                        accountMenu.style.display = "block";
                    }
                    else {
                        accountMenu.style.display = "none";
                    }
            }
        </script>

        <!----start-mid-head---->
        <div class="mid-header">
            <div class="wrap">
                <div class="mid-grid-left">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                    {
                        <input type="text" placeholder="Bạn đang tìm sản phẩm nào?" name="name"/>
                    }
                    <div>
                        <p>
                            <br/>
                        </p>
                    </div>
                    <input type="button" value="Tìm nâng cao" onclick="location.href='@Url.Action("Search", "Home")'" />
                </div>
                <div class="mid-grid-right">
                    @Html.ActionLink(" ", "Index", "Home", null, new { @class = "logo", alt="Trang Chủ" })
                    <span> </span>
                </div>
                <div class="clear"> 
                </div>
            </div>
        </div>
        <!----//End-mid-head---->
        <!----start-bottom-header---->
        @{
            ShoeStoreEntities mShoeStoreDbContext = new ShoeStoreEntities();
        }
        <div class="header-bottom">
            <div class="wrap">
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="active grid">
                        @*@Html.ActionLink("Giày Nam", "", "", null, new { @class = "color2"})*@
                        <a class="color2">Giày Nam</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                    @{                                  
                                        // Danh sách Category của Giày Nam
                                        List<Category> lstCategoryMen = new List<Category>();

                                        var allCategoryMen = from cate in mShoeStoreDbContext.Categories
                                                             join p in mShoeStoreDbContext.Products on cate.ID equals p.IDCategory
                                                             where cate.Status == 0 && p.Status == 0 && p.MenWomen == 1
                                                             select cate;

                                        lstCategoryMen = allCategoryMen.Distinct().ToList<Category>();

                                        for (int i = 0; i < lstCategoryMen.Count; i++ )
                                        {   
                                            string categoryName = lstCategoryMen[i].CategoryName;
                                            <h4>
                                                
                                                <a class="visited"  href="@Url.Action("Category", "Product",
                                                                        new { @class = "color2", idMenu = 1, idCategory = lstCategoryMen[i].ID })  ">
                                                    @categoryName
                                                </a>
                                            </h4>
                                        }
                                    }                     
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </li>
                    <li class="grid">
                        @*@Html.ActionLink("Giày Nữ", "", "", null, new { @idMenu = 2 })*@
                        <a class="color2">Giày Nữ</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        @{
                                            // Danh sách Category của Giày Nữ
                                            List<Category> lstCategoryWoMen = new List<Category>();

                                            var allCategoryWoMen = from cate in mShoeStoreDbContext.Categories
                                                                   join p in mShoeStoreDbContext.Products on cate.ID equals p.IDCategory
                                                                   where cate.Status == 0 && p.Status == 0 && p.MenWomen == 0
                                                                   select cate;

                                            lstCategoryWoMen = allCategoryWoMen.Distinct().ToList<Category>();

                                            for (int i = 0; i < lstCategoryWoMen.Count; i++)
                                            {
                                                string categoryName = lstCategoryWoMen[i].CategoryName;
                                                <h4>

                                                    <a  href="@Url.Action("Category", "Product",
                                                                new { idMenu = 2, idCategory = lstCategoryWoMen[i].ID })">
                                                        @categoryName
                                                    </a>
                                                </h4>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li >
                        @*@Html.ActionLink("Thương Hiệu", "", "", null, new { @idMenu = 3 })*@
                        <a class="color2">Thương Hiệu</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        @{
                                            // Danh sách  Brand
                                            List<Brand> lstBrand = new List<Brand>();

                                            var allBrand = from b in mShoeStoreDbContext.Brands
                                                           select b;

                                            lstBrand = allBrand.ToList<Brand>();

                                            for (int i = 0; i < lstBrand.Count; i++)
                                            {
                                                string brandName = lstBrand[i].BrandName;
                                                <h4>

                                                    <a href="@Url.Action("Category", "Product",
                                                        new {idMenu = 3, idCategory = lstBrand[i].ID })  ">
                                                        @brandName
                                                    </a>
                                                </h4>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                        <li>
                            <a href="@Url.Action("Category", "Product",
                                                            new {idMenu = 4 })  ">
                                Hàng Mới Về
                            </a>
                        </li>
                        <li >
                            <a href="@Url.Action("Category", "Product",
                                                            new {idMenu = 5 })  ">
                                Khuyến Mãi
                            </a>
                        </li>
</ul>
            </div>
        </div>
    </div>
    <!----//End-bottom-header---->
    <!---//End-header---->
    <!--- start-content---->
    @RenderBody()
    <!---- start-bottom-grids---->
    <div class="bottom-grids">
        <div class="bottom-top-grids">
            <div class="wrap">
                <div class="bottom-top-grid">
                    <h4>GIÚP ĐỠ</h4>
                    <ul>
                        <li>
                            @Html.ActionLink("Liên hệ", "Contact", "Home", null, new { @class = "learn-more" })
                        </li>
                        <li>
                            @Html.ActionLink("Just Do It", "Contact", "Home", null, new { @class = "learn-more" })
                        </li>
                        <li>
                            @Html.ActionLink("DH KHTN", "Contact", "Home", null, new { @class = "learn-more" })
                        </li>

                    </ul>
                </div>
                <div class="bottom-top-grid">
                    <h4>ĐẶT HÀNG</h4>
                    <ul>
                        <li>
                            @Html.ActionLink("Hình thức thanh toán", "Contact", "Home", null, new { @class = "learn-more" })
                        </li>
                        <li>
                            @Html.ActionLink("Giao nhận hàng", "Contact", "Home", null, new { @class = "learn-more" })
                        </li>

                    </ul>
                </div>
                <div class="bottom-top-grid last-bottom-top-grid">
                    <h4>ĐĂNG KÝ</h4>
                    @Html.ActionLink("Xem chi tiết", "Register", "Account", null, new { @class = "learn-more" })
                    
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <!---- //End-bottom-grids---->
    <!--- //End-content---->
    <!---start-footer---->
    <div class="footer">
        <div class="wrap">
            <div class="footer-left">
                <ul>
                    <li>@Html.ActionLink("Việt Nam", "Index", "Home") <span> </span></li>
                    <li>@Html.ActionLink("ĐH KHTN", "Index", "Home") <span> </span></li>
                    <li>@Html.ActionLink("Just Do It", "Index", "Home") <span> </span></li>
                    <li>@Html.ActionLink("2015", "Index", "Home") <span> </span></li>

                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="footer-right">
                <p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
                <script type="text/javascript">
                    $(document).ready(function() {
                        /*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear'
					 		};
							*/

                        $().UItoTop({ easingType: 'easeOutQuart' });

                    });
                </script>
                <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <!---//End-footer---->
    <!---//End-wrap---->
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function bodyonload() {
            var items = document.getElementsByClassName("text-danger");
            for (var i = 0; i < items.length; i++) {
                if (items[i].innerHTML == "") {
                    items[i].innerHTML = "<pre>  <pre/>";
                }
            }
        };
    </script>
</body>
</html>