﻿
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>THÔNG BÁO</h1>
            @ViewBag.Message
        </div>
    </div>
</div>
