﻿@model ShoesStore.Models.ViewModel.CommentViewModel
@{
    ViewBag.Title = "AddCommentPartail";
}

<h2>AddCommentPartail</h2>
<a href="#" id="submitComment">Go</a>
<h4>Tên hoặc email:</h4>
@Html.EditorFor(x => x.Name)
<span>Vui lòng nhập tên (hoặc địa chỉ email).</span>
<h4>Nội dung phả hồi:</h4>
@Html.TextAreaFor(x => x.Comment1, 4, 41, new { name = "txtContent" })
<span>Vui lòng nhập phẩn hồi về sản phẩm.</span>



