﻿@using System.Globalization
@using ShoesStore.Models.ViewModel
@using ShoesStoreBLL.EF
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{int page = ViewBag.page;}
@{int productPage = ViewBag.productPage;}
@{int arrange = ViewBag.arrange;}
@{int numberOfPage = 1;}
@{int numberOfProduct = ViewBag.numberOfProduct == null ? 0 : ViewBag.numberOfProduct;}
@if (productPage != -1)
{
    numberOfPage = numberOfProduct / productPage;
    if (numberOfProduct % productPage != 0)
    {
        numberOfPage++;
    }
}
else
{
    numberOfPage = 1;
}

@{  int skipPage = 2;
    int startPage = page - skipPage <= 0 ? 1 : page - skipPage;
    int endPage = page + skipPage > numberOfPage ? numberOfPage : page + skipPage;
}

<!--- start-content---->
<div class="content product-box-main">
    <div class="wrap">
        <div class="content-left">
            <div class="content-left-top-brands">
               <!--Tên menu được chọn-->
                <h3>@ViewBag.MenuName</h3>
                <ul>
                    <!--Bắt đầu menu con của menu được chọn-->  
                    <li>@ViewBag.SubMenuName</li>
                    <!--Kết thúc menu con của menu được chọn--> 
                </ul>
            </div>
            <div class="content-left-top-grid">
                <div class="content-left-price-selection content-left-top-brands-prices">
                    

                </div>
            </div>
        </div>
        <div class="content-right product-box">
            <div class="product-box-head">
                <div class="product-box-head-left">
                    <!--Tính số lượng sản phẩm hiện có-->
                    <h3>Sản Phẩm <span>(@ViewBag.numberOfProduct)</span></h3>
                </div>
                <div class="product-box-head-right">
                    <ul>
                        <li><span>Sắp Xếp Theo ::</span><a href="#"> </a></li>
                        <li @(arrange == 1 ? "class='visited'" : string.Empty)>
                            <label> </label>
                            <a href="@Url.Action("Category", "Product",
                                new { idCategory = ViewBag.idCategory, idMenu = ViewBag.idMenu, productPage = productPage, page = page, arrange = 1 })">
                                Tên sản phẩm
                            </a>
                        </li>
                        <li @(arrange == 2 ? "class='visited'" : string.Empty)>
                            <label> </label>
                            <a href="@Url.Action("Category", "Product",
                                new { idCategory = ViewBag.idCategory, idMenu = ViewBag.idMenu, productPage = productPage, page = page, arrange = 2 })">
                                Khuyến mãi
                            </a>
                            </li>
                            <li><span>Giá ::</span><a href="#"></a></li>
                        <li @(arrange == 3 ? "class='visited'" : string.Empty)>
                            <label> </label>
                            <a href="@Url.Action("Category", "Product",
                                new { idCategory = ViewBag.idCategory, idMenu = ViewBag.idMenu, productPage = productPage, page = page, arrange = 3 })">
                                Cao-Thấp
                            </a>
                        </li>
                        <li @(arrange == 4 ? "class='visited'" : string.Empty)>
                            <label> </label>
                            <a href="@Url.Action("Category", "Product",
                                new { idCategory = ViewBag.idCategory, idMenu = ViewBag.idMenu, productPage = productPage, page = page, arrange = 4 })">
                                Thấp-Cao
                            </a>
                        </li>
</ul>
                </div>
                <div class="clear"> </div>
            </div>
            
            <div class="loadmore-products-2">
                <!--Bắt đầu form chọn sản phẩm hiện thị trên trang-->
                <form name="frmSoSanPhamTrenTrang" action="Category" method="get">
                    
                    <div class="dropdown_left_2">
                        <label>Sản phẩm/trang:</label>
                        <select class="dropdown" name='productPage' onchange='submit()' data-settings='{"wrapperClass":"metro1"}'>
                            @for (int j = 1; j <= 3; j++)
                            {
                                int p = j * 3;
                                <option @(p == productPage ? "selected = 'selected' ":  string.Empty) value="@p" >@p</option>  
                                                             
                            }
                            <option @(productPage == -1 ? "selected = 'selected'": string.Empty) value="-1">Tất cả</option>
                        </select>
                    </div>
                    <input type='hidden' name='idCategory' value='@ViewBag.idCategory' />
                    <input type='hidden' name='idMenu' value='@ViewBag.idMenu' />
                    <input type='hidden' name='page' value='@page' />
                    <input type='hidden' name='arrange' value='@arrange' />
                </form>
                <!--Kết thúc form-->
                <div class="clearfix"></div>
            </div>

            <div class="product-grids">
                <!--- start-rate---->
                <script src="~/Scripts/jstarbox.js"></script>
                <link rel="stylesheet" href="~/Content/jstarbox.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
                <script type="text/javascript">
								jQuery(function() {
									jQuery('.starbox').each(function() {
										var starbox = jQuery(this);
										starbox.starbox({
											average: starbox.attr('data-start-value'),
											changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
											ghosting: starbox.hasClass('ghosting'),
											autoUpdateAverage: starbox.hasClass('autoupdate'),
											buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
											stars: starbox.attr('data-star-count') || 5
										}).bind('starbox-value-changed', function(event, value) {
											if(starbox.hasClass('random')) {
												var val = Math.random();
												starbox.next().text(' '+val);
												return val;
											}
										})
									});
								});
                </script>
                <!---//End-rate---->

                @{int i = 0;}
                @foreach (ProductViewModel p  in Model)
                {
                    ShoeStoreEntities entities = new ShoeStoreEntities();
                <!--Bắt đầu sản phẩm, chú xét nếu sp vị trí cuối grid thêm: last-grid-->
                    i = i + 1;

                     <div class="product-grid fade @(i%3 != 0 ? String.Empty : "last-grid" )" >
                            <div class="product-grid-head">
                                <ul class="grid-social">
                                    <li><a class="facebook" href="#"><span> </span></a></li>
                                    <li><a class="twitter" href="#"><span> </span></a></li>
                                    <li><a class="googlep" href="#"><span> </span></a></li>
                                    <div class="clear"> </div>
                                </ul>
                                <div class="block">
                                    <div class="starbox small ghosting"> </div> <span> Khuyến mãi @p.SaleOff%</span>
                                </div>
                            </div>
                            <div class="product-pic">
                                <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                    <img src=@p.Image title=@p.ProductName />                                 
                                </a>
                                
                                <p>
                                    <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                        
                                        <strong>@p.ProductName </strong>
                                        
                                        <br />
                                        (Màu: 
                                        
                                        @{
                                            var firstOrDefault = entities.Colors.FirstOrDefault(c=>c.ID == p.IDColor);
                                        }
                                        @if (firstOrDefault != null)
                                        {
                                            @firstOrDefault.ColorName
                                        };
                                        Size: 
                                        
                                        @{
                                            var orDefault = entities.Sizes.FirstOrDefault(s => s.ID == p.IDSize);
                                        }
                                        @if (orDefault != null)
                                        {
                                            @orDefault.SizeName
                                        })
                                        
                                    </a>
                                    
                                    <span></span>
                                </p>
                            </div>
                            <div class="product-info">
                                <div class="product-info-cust">
                                    <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                        Chi tiết
                                    </a>

                                </div>
                                <div class="product-info-price">
                                    <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                        @((p.Price * (1 - p.SaleOff / 100.0)).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                                    </a>

                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="more-product-info">
                                <span> </span>
                            </div>
                        </div>
                }
                <!--Kết thúc sản phẩm-->
                <div class="clear"> </div>
            </div>

            <!----start-page-number---->
            <div class="loadmore-products-1">
                @if (page > 1)
                {
                    <a title="Trang Trước" href="@Url.Action("Category", "Product",
                new { idCategory = ViewBag.idCategory, idMenu = ViewBag.idMenu, productPage = productPage, page= (page -1), arrange = arrange })">
                       <
                    </a>
                }
                
                @for (int p = startPage; p <= endPage; p++ )
                {
                    if(p == page)
                    {
                        <a class="active-page">@p</a>
                    }
                    else
                    {
                        <a title="Trang @p" href="@Url.Action("Category", "Product",
                            new { idCategory = ViewBag.idCategory, idMenu = ViewBag.idMenu, productPage = productPage, page = p, arrange = arrange })">
                            @p
                        </a>
                    }
                    
                }
                
                @if (page <= (numberOfPage - 1))
                {
                    <a title="Trang Sau" href="@Url.Action("Category", "Product",
                    new { idCategory = ViewBag.idCategory, idMenu = ViewBag.idMenu, productPage = productPage, page = (page + 1), arrange = arrange })">
                        >
                    </a>
                }
                
            </div>
            <!----//End-page-number---->

        </div>
        <div class="clear"> </div>
    </div>
</div>


