﻿@using System.Configuration
@using System.Globalization
@using ShoesStore.Models.ViewModel
@using ShoesStoreBLL.EF
@model ShoesStore.Models.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<!--- start-content---->
<div class="content details-page">
    <!---start-product-details--->
    <div class="product-details">
        <div class="wrap">
            <ul class="product-head">
                <li><a href="#">Trang chủ</a> <span>::</span></li>
                <li class="active-page"><a href="#">Chi tiết sản phẩm</a></li>
                <div class="clear"> </div>
            </ul>
            <!----details-product-slider--->
            <!-- Include the Etalage files -->
            <link rel="stylesheet" href="~/Content/etalage.css" rel="stylesheet" />
            <script src="~/Scripts/jquery.etalage.min.js"></script>
            
            <!-- Include the Etalage files -->
            <script>
                jQuery(document).ready(function ($) {

                    $('#etalage').etalage({
                        thumb_image_width: 300,
                        thumb_image_height: 400,
                        source_image_width: 900,
                        source_image_height: 1000,
                        show_hint: true,
                        click_callback: function (image_anchor, instance_id) {
                            alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                        }
                    });
                    // This is for the dropdown list example:
                    $('.dropdownlist').change(function () {
                        etalage_show($(this).find('option:selected').attr('class'));
                    });

                });
            </script>
            <!----//details-product-slider--->
            <div class="details-left">
                <div class="details-left-slider">
                    <ul id="etalage">
                        @{
                            string lstImage = @Model.LargeImage;
                            char[] separator = new char[1];
                            separator[0] = ';';
                            string[] arrImage = lstImage.Split(separator, StringSplitOptions.RemoveEmptyEntries);
                        }

                        @foreach (string imgUrl in arrImage)
                        {
                            <li>
                                <a >
                                    <img class="etalage_source_image" src="@imgUrl" />
                                </a>
                            </li>    
                        }
                                          
                    </ul>
                </div>
                <div class="details-left-info">
                    <div class="details-right-head">

                        <h1>@Model.ProductName</h1>
                        <ul class="pro-rate">
                            <li><a class="product-rate" href="#"> <label> </label></a> <span> </span></li>
                            <li>@ViewBag.viewed lượt xem</li>
                        </ul>
                        @*<p class="product-detail-info">@Model.Describe</p>*@
                        <div class="product-more-details">
                            <ul class="price-avl">
                                <li class="price">
                                    @if (Model.SaleOff == 0)
                                    {
                                        <h3>Giá  ::</h3>
                                        <label>@Model.Price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</label>
                                    }
                                    else
                                    {
                                        <h3>Giá  ::</h3>
                                        <span>@Model.Price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</span>
                                        double price = Model.Price - Model.Price * Model.SaleOff / 100;
                                        <br />
                                        <h3>Giá Khuyến Mãi  ::</h3>
                                        <label>@price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</label>
                                    }
                                    
                                </li>                              
                                @*<li class="stock"><i>@(Model.Quantity > 0 ? "Còn hàng" : "Hết hàng")</i></li>*@
                                <div class="clear"> </div>
                            </ul>
                            
                            <ul class="product-colors">
                                <div>
                                    <h3 class="inline">Nhãn Hiệu  ::</h3>
                                    <span>@ViewBag.brand</span>
                                </div>
                                <div>
                                    <h3 class="inline">Nam/Nữ  ::</h3>
                                    <span> @(Model.MenWomen == 1 ? "Nam" : "Nữ")</span>
                                </div>
                                <div>
                                    <h3 class="inline">Tình Trạng  ::</h3>
                                    @{
                                        ShoeStoreEntities entities = new ShoeStoreEntities();
                                        int hasOrdered =0;
                                        var cartItems = entities.CartItems.Where(c => c.ItemId == Model.ID);
                                        if (cartItems.Any())
                                        {
                                            hasOrdered = cartItems.Sum(c => c.Quanity);
                                        }
                                    }
                                    <span>@((Model.Quantity - hasOrdered) > 0 ? "Còn hàng" : "Hết hàng")</span>
                                </div>
                                <div>
                                    <h3 class="inline">Màu  ::</h3>
                                    <span>@ViewBag.color</span>
                                </div>
                                <div>
                                    <h3 class="inline">Size  ::</h3>
                                    <span>@ViewBag.size</span>
                                </div>
                                    @*<li><a class="color1" href="#"><span> </span></a></li>
            <li><a class="color2" href="#"><span> </span></a></li>
            <li><a class="color3" href="#"><span> </span></a></li>
            <li><a class="color4" href="#"><span> </span></a></li>
            <li><a class="color5" href="#"><span> </span></a></li>
            <li><a class="color6" href="#"><span> </span></a></li>
            <li><a class="color7" href="#"><span> </span></a></li>
            <li><a class="color8" href="#"><span> </span></a></li>*@
                                    <div class="clear"> </div>
</ul>
                            
                             @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
                             {
                                <ul class="prosuct-qty">
                                    <span class="inline">Số lượng:</span>

                                    <select class="block" name="quantity">
                                        @{
                                 int maxQuanity = int.Parse(ConfigurationManager.AppSettings["MaxQuantityPerProduct"]);
                                 if (maxQuanity > (Model.Quantity - hasOrdered))
                                 {
                                     maxQuanity = (Model.Quantity - hasOrdered);
                                 }
                                 if (maxQuanity == 0)
                                 {
                                    <option value="0">0</option>
                                 }
                                 for (int j = 1; j <= maxQuanity; j++)
                                 {
                                            <option value="@j">@j</option>
                                         }
                                         
                                        }
                                    </select>
                                </ul>
                                 <input type="hidden" name="productId" value="@Model.ID"/>
                                <input type="hidden" name="price" value="@(Model.Price - Model.Price * Model.SaleOff / 100)" />
                                <input type="hidden" name="sizeId" value="@Model.IDSize" />
                                <input type="hidden" name="colorId" value="@Model.IDColor" />
                                 if ((Model.Quantity - hasOrdered) > 0)
                                 {
                                            <input type="submit" value="Thêm vào giỏ" />
                                 }
                                 else
                                 {
                                    <input type="submit" disabled="disabled" value="Thêm vào giỏ" />
                                 }
                             }
                            
                            <ul class="product-share">
                                <h3>Chia sẻ:</h3>
                                <ul>
                                    <li><a class="share-face" href="#"><span> </span> </a></li>
                                    <li><a class="share-twitter" href="#"><span> </span> </a></li>
                                    <li><a class="share-google" href="#"><span> </span> </a></li>
                                    <li><a class="share-rss" href="#"><span> </span> </a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </ul>
                    </div>
    
                    </div>
                    

                </div>
                <div class="clear"> </div>
            </div>
            <!--<div class="details-right">
                <a href="#">Xem thêm</a>
            </div>-->
            <div class="clear"> </div>
        </div>
        <!----product-rewies---->
        <div class="product-reviwes">
            <div class="wrap">
                <!--vertical Tabs-script-->
                <!---responsive-tabs---->
                <script src="~/Scripts/easyResponsiveTabs.js" type="text/javascript"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#horizontalTab').easyResponsiveTabs({
                            type: 'default', //Types: default, vertical, accordion
                            width: 'auto', //auto or any width like 600px
                            fit: true,   // 100% fit in a container
                            closed: 'accordion', // Start closed if in accordion view
                            activate: function (event) { // Callback function if tab is switched
                                var $tab = $(this);
                                var $info = $('#tabInfo');
                                var $name = $('span', $info);
                                $name.text($tab.text());
                                $info.show();
                            }
                        });

                        $('#verticalTab').easyResponsiveTabs({
                            type: 'vertical',
                            width: 'auto',
                            fit: true
                        });
                    });
                </script>
                <!---//responsive-tabs---->
                <!--//vertical Tabs-script-->
                <!--vertical Tabs-->
                <div id="verticalTab">
                    <ul class="resp-tabs-list">
                        <li>Mô tả sản phẩm</li>
                        <li>Phản hồi sản phẩm</li>
                    </ul>
                    <div class="resp-tabs-container vertical-tabs">
                        <div>
                            <h3>Chi tiết</h3>
                            @{
                                string desc = Model.Describe;
                                char[] sep = new char[1];
                                sep[0] = '\n';
                                string[] lstDescribe = desc.Split(sep, StringSplitOptions.RemoveEmptyEntries);
                            }
                            
                            <p>
                                @foreach (string dec in lstDescribe)
                                {
                                    @dec
                                    <br>
                                }
                            </p>
                            <p>Thương hiệu: @ViewBag.brand</p>
                            <p> Loại sản phẩm: @ViewBag.category</p>
                        </div>
                        
                        <div>
                            <h3>Thông tin phản hồi</h3>
                            @using (Html.BeginForm("Comment", "Product", FormMethod.Post, new { id = "my-from" }))
                            {
                                <h4>Tên hoặc email:</h4>
                                @Html.TextBox("Name")
                                <span>Vui lòng nhập tên (hoặc địa chỉ email).</span>
                                <h4>Nội dung phản hồi:</h4>
                                @Html.TextArea("Comment1", new { cols = "41", rows = "5" })
                                <span>Vui lòng nhập phẩn hồi về sản phẩm.</span>
                                @Html.Hidden("IDProduct", @Model.ID)
                                <input type="button" value="Phản hồi" id="submitComment" />
                            }
                            <script type="text/javascript">
                                $('#submitComment').click(function () {
                                    var formData = $("#my-from");
                                    var url = formData.attr("action");

                                    var formData = formData.serialize();
                                    $.post(url, formData, function (data) {
                                        $().html(data);
                                    });
                                    var url = "/Product/Comment?idProduct=";

                                    $.getJSON(url + $("#id-product").val(), function (data) {
                                        var items = '';
                                        $.each(data, function (i, item) {
                                            var date = new Date(parseInt(item.Date.substr(6)));

                                            items += "<div style=\" padding: 10px; border: 1px solid gray; margin: 0;\"><span>" + item.Name + ":</span><p>" + date + "</p><p>" + item.Comment1 + "</p></div>";
                                            // Xem lại ngày tháng năm bị undifine

                                        });


                                        $("#listComments").html(items);
                                    });
                                })
                            </script>
                            <div id="result"></div>
                            <h3>Khách hàng phản hồi</h3>
                            <div id="listComments">

                            </div>
                            @Html.Hidden("IDProduct", @Model.ID, new { id = "id-product"})
                            
                            <script type="text/javascript">
                                var url = "/Product/Comment?idProduct=";
                                var cmtPerPage = 3;
                                $.getJSON(url + $("#id-product").val(), function (data) {

                                    var items = '';
                                    var count = 0;
                                    $.each(data, function (i, item) {
                                        count++;
                                        var date = new Date(parseInt(item.Date.substr(6)));
                                        
                                        items += "<div style=\" padding: 10px; border: 1px solid gray; margin: 0;\"><span style={\" color:red\"}>" + item.Name + ":</span><p>" + date + "</p><p>" + item.Comment1 + "</p></div>";
                                        // Xem lại ngày tháng năm bị undifine
                                        if (count > 3)
                                            onpause;
                                    });
                                    

                                    $("#listComments").html(items);
                                });

                            </script>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="clear"> </div>

                <!--//vertical Tabs-->
                <!----//product-rewies---->
                <!---//End-product-details--->
                <!--- start-similar-products--->
                <!--- start-similar-products--->
                <div class="similar-products">
                    <div class="similar-products-left">
                        <h3>SẢN PHẨM TƯƠNG TỰ</h3>
                        <p>Bạn xem qua các sản phẩm tương tự bên cạnh</p>
                    </div>
                    <div class="similar-products-right">
                        <!-- start content_slider -->
                        <!--- start-rate---->
                        <script src="~/Scripts/jstarbox.js"></script>
                        <link rel="stylesheet" href="~/Content/jstarbox.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
                        <script type="text/javascript">
                            jQuery(function () {
                                jQuery('.starbox').each(function () {
                                    var starbox = jQuery(this);
                                    starbox.starbox({
                                        average: starbox.attr('data-start-value'),
                                        changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                        ghosting: starbox.hasClass('ghosting'),
                                        autoUpdateAverage: starbox.hasClass('autoupdate'),
                                        buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                        stars: starbox.attr('data-star-count') || 5
                                    }).bind('starbox-value-changed', function (event, value) {
                                        if (starbox.hasClass('random')) {
                                            var val = Math.random();
                                            starbox.next().text(' ' + val);
                                            return val;
                                        }
                                    })
                                });
                            });
                        </script>
                        <!---//End-rate---->
                        <div id="owl-demo" class="owl-carousel">
                            @{int i = 0;}
                            @foreach (var item in ViewBag.lstSimilarProduct as List<ProductViewModel>)
                            {
                                //ShoeStoreEntities entities = new ShoeStoreEntities();
                                i = i + 1;
                                if (i == 4) { break; }
                                 <div class="item" onclick="location.href = '/Product/Details?';">
                                <div class="product-grid fade sproduct-grid-1">
                                    <div class="product-pic">
                                        <a href="@Url.Action("Details", "Product", new { idProduct = item.ID })">
                                            <img src=@item.Image title=@item.ProductName />
                                        </a>

                                        <p>
                                            <a href="@Url.Action("Details", "Product", new { idProduct = item.ID })">
                                                <strong>@item.ProductName </strong>

                                                <br />
                                                (Màu:

                                                @{
                                var firstOrDefault = entities.Colors.FirstOrDefault(c => c.ID == item.IDColor);
                                                }
                                                @if (firstOrDefault != null)
                                                {
                                                    @firstOrDefault.ColorName
                                                };
                                                Size:

                                                @{
                                var orDefault = entities.Sizes.FirstOrDefault(s => s.ID == item.IDSize);
                                                }
                                                @if (orDefault != null)
                                                {
                                                    @orDefault.SizeName
                                                })
                                            </a>

                                            <span></span>
                                        </p>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-info-cust">
                                            <a href="@Url.Action("Details", "Product", new { idProduct = item.ID })">
                                                Chi tiết
                                            </a>
                                        </div>
                                        <div class="product-info-price">
                                            <a href="@Url.Action("Details", "Product", new { idProduct = item.ID })">
                                                @((item.Price * (1 - item.SaleOff / 100.0)).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                                            </a>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="more-product-info">
                                        <span> </span>
                                    </div>
                                </div>
                            </div>
                            }                    
                          
                        </div>
                        <!----//End-img-cursual---->
                    </div>
                    <div class="clear"> </div>
                </div>
                <!--- //End-similar-products--->
            </div>
        </div>
        <div class="clear"> </div>
        <!--//vertical Tabs-->
        <!----//product-rewies---->
        <!---//End-product-details--->
    </div>
</div>
