﻿@model ShoesStore.Models.ViewModel.AddProductViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<!-- Start body-->
@Html.AntiForgeryToken()
<div class="content">

    <div class="header">

        <h1 class="page-title">Thông tin sản phẩm</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Trang chủ", "Index", "Category") <span class="divider">/</span></li>
        <li>@Html.ActionLink("Danh sách sản phẩm", "Index", "Product")<span class="divider">/</span></li>
        <li class="active">Sản phẩm</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary" form="tab"><i class="icon-save"></i> Cập nhật</button>
                @Html.ActionLink("Quay về danh sách", "Index", "Product", new { @class = "btn" })
                <div class="btn-group">
                </div>
            </div>
            <div class="well">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">@ViewBag.SubTitle</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @using (Html.BeginForm("Edit", "Product", FormMethod.Post,
                            new { enctype = "multipart/form-data", id = "tab" }))
                        {
                            @Html.HiddenFor(model => model.ID);
                            @Html.HiddenFor(model => model.Viewed);
                            
                            @Html.LabelFor(model => model.ProductName)
                            @Html.TextBoxFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.IDCategory)
                            @Html.DropDownListFor(model => model.IDCategory, (IEnumerable<SelectListItem>)ViewBag.lstCategory)
                            @Html.ValidationMessageFor(model => model.IDCategory, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.MenWomen)
                            @Html.DropDownListFor(model => model.MenWomen,
                                               new List<SelectListItem> {
                                               new SelectListItem { Value = "0" , Text = "Nữ" },
                                               new SelectListItem { Value = "1" , Text = "Nam" },
                                            })

                            @Html.ValidationMessageFor(model => model.MenWomen, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.IDSize)
                            @Html.DropDownListFor(model => model.IDSize, (List<SelectListItem>)ViewBag.lstSize)
                            @Html.ValidationMessageFor(model => model.IDSize, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.IDColor)
                            @Html.DropDownListFor(model => model.IDColor, (List<SelectListItem>)ViewBag.lstColor)
                            @Html.ValidationMessageFor(model => model.IDColor, "", new { @class = "text-danger" })


                            @Html.LabelFor(model => model.IDBrand)
                            @Html.DropDownListFor(model => model.IDBrand, (List<SelectListItem>)ViewBag.lstBrand)
                            @Html.ValidationMessageFor(model => model.IDBrand, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.Price)
                            @Html.TextBoxFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.SaleOff)
                            @Html.TextBoxFor(model => model.SaleOff, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SaleOff, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.NewProduct)
                            @Html.DropDownListFor(model => model.NewProduct,
                                                                       new List<SelectListItem> {
                                                                       new SelectListItem { Value = "0" , Text = "Hàng cũ" },
                                                                       new SelectListItem { Value = "1" , Text = "Hàng mới" },
                                                                    })
                            @Html.ValidationMessageFor(model => model.NewProduct, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.Quantity)
                            @Html.TextBoxFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.Describe)
                            @Html.TextBoxFor(model => model.Describe, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Describe, "", new { @class = "text-danger" })


                           @Html.LabelFor(model => model.Image)
                            <input type="file" onchange="readURLImage(this);" name="image" id="image" style="width: 100%;" value=@Model.Image data-val="true" data-val-required="Hình đại diện không được rỗng" />
                            <img id="small" src= @Model.Image alt="Hình đại diện" />
                            @Html.ValidationMessage("image")

                            @Html.LabelFor(model => model.LargeImage)
                            <input type="file" name="largeImage" onchange="readURLLargeImage(this);" id="largeImage" style="width: 100%;" value=@Model.LargeImage data-val="true" data-val-required="Hình chi tiết không được rỗng" />
                            <img id="large" src=@Model.LargeImage alt="Hình chi tiết" />
                            @Html.ValidationMessage("largeImage")
                            
                            <span>
                                @(ViewBag.Notice != null ? ViewBag.Notice : string.Empty)
                            </span>

                        }
                    </div>
                </div>
            </div>
            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Xác nhận xóa</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Bạn có chắc muốn xóa loại sản phẩm này?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Hủy bỏ</button>
                    <button class="btn btn-danger" data-dismiss="modal" value="idCategory" onclick="location.href='category.html?idCategory=1'">Xóa</button>
                </div>
            </div>

            <!--Script-->
            <script type="text/javascript">
                
                function readURLImage(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#small')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                        };

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                function readURLLargeImage(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#large')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                        };

                        reader.readAsDataURL(input.files[0]);
                    }
                }
            </script>

            <!-- End body-->
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
