﻿@using ShoesStore.Models.ViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
@{int numPerPage = ViewBag.NumPerPage;}
@{int numProduct = @ViewBag.NumProduct;}
@{int numPage = @ViewBag.PageCount;}
@{int page = @ViewBag.CurrentPage;}

@{  int skipPage = 2;
  int startPage = page - skipPage <= 0 ? 1 : page - skipPage;
  int endPage = page + skipPage > numPage ? numPage : page + skipPage;
}

<!-- Start body-->
<div class="content">

    <div class="header">

        <h1 class="page-title">Danh sách sản phẩm</h1>
    </div>

    <ul class="breadcrumb">
        <li>@Html.ActionLink("Trang chủ", "Index", "Category")<span class="divider">/</span></li>
        <li class="active">Danh sách sản phẩm</li>
    </ul>
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Product")' " ><i class=" icon-plus"></i> Thêm sản phẩm</button>
                <div class="btn-group">
                    @using (Html.BeginForm("Index", "Product", FormMethod.Post))
                    {
                        <label class="menuControl">Số sản phẩm/trang</label>
                        <select class="dropdown" name='numPerPage' onchange='submit()' data-settings='{"wrapperClass":"metro1"}'>
                            <option @(10 == numPerPage ? "selected = 'selected' " : string.Empty) value="10">10</option>
                            <option @(15 == numPerPage ? "selected = 'selected' " : string.Empty) value="15">15</option>
                            <option @(20 == numPerPage ? "selected = 'selected' " : string.Empty) value="20">20</option>
                        </select>
                        <input type='hidden' name='page' value='@page' />
                      
                    }
                </div>
            </div>
            <div class="well">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 10px;">STT</th>
                            <th>Tên</th>
                            <th style="width: 100px;text-align='center'">Hình ảnh </th>
                            <th>Loại </th>
                            <th>Size</th>
                            <th>Màu sắc</th>
                            <th>Thương hiệu</th>
                            <th>Khuyến mãi</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Hàng mới</th>
                            <th>Lượt xem</th>
                            <th>Nam/Nữ</th>
                            <th style="width: 15px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ViewBag.stt = ViewBag.STT;
                           
                            foreach (ViewProductViewModel p in Model)
                            {
                                ViewBag.stt = ViewBag.stt + 1;
                            <tr>
                                <td>@ViewBag.stt</td>
                                <td>@p.ProductName</td>
                                <td><img src=@p.Image title=@p.ProductName />  </td>
                                <td>@p.CategoryName</td>
                                <td>@p.SizeName</td>
                                <td>@p.ColorName</td>
                                <td>@p.BrandName</td>
                                <td>@p.SaleOff%</td>
                                <td>@p.Price</td>
                                <td>@p.Quantity</td>
                                <td><input type="checkbox" @(p.NewProduct == 1 ? "checked='checked' " : string.Empty) /></td>
                                <td>@p.Viewed</td>
                                <td>@(p.MenWomen == 1 ? "Nam": "Nữ")</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Product", new { idProduct = p.ID })"><i class="icon-pencil"></i></a>
                                    <a id="btnDelete" href="#confirmModal" data-target="#confirmModal" role="button" data-toggle="modal" data-username=@p.ID><i class="icon-remove"></i></a>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    @if (page > 1)
                    {
                        <li>
                            <a title="Trang Trước" href="@Url.Action("Index", "Product",
                new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage - 1), orderByField = ViewBag.orderByField })">
                                <
                            </a>
                        </li>
                    }

                    @for (int p = startPage; p <= endPage; p++)
                    {
                        if (p == page)
                        {
                            <li>
                                <a class="active-page">@p</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a title="Trang @p" href="@Url.Action("Index", "Product",
                        new { numPerPage = ViewBag.NumPerPage, page = p, orderByField = ViewBag.orderByField })">
                                    @p
                                </a>
                            </li>
                        }


                    }

                    @if (page <= (numPage - 1))
                    {
                        <li>
                            <a title="Trang Sau" href="@Url.Action("Index", "Product",
                                new { numPerPage = ViewBag.NumPerPage, page = (ViewBag.CurrentPage + 1), orderByField = ViewBag.orderByField })">
                                >
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="modal small hide fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                @using (Html.BeginForm("Delete", "Product"))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Xác nhận xóa</h3>
                    </div>
                    <div class="modal-body">
                        <p class="error-text">
                            <i class="icon-warning-sign modal-icon"></i>
                            <span id="notification">Bạn muốn xóa sản phẩm này?</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Hủy bỏ</button>
                        <button name="idProduct" type="submit" class="btn btn-danger" id="confirmDel" value="">Xóa</button>
                    </div>
                }

            </div>
            <script type="text/javascript">
                $(document).on("click", "#btnDelete", function () {
                    var idProduct = $(this).data('username');
                    $("#confirmDel").val(idProduct);                  
                });
            </script>
            <!-- End body-->

