﻿
@{
    ViewBag.Title = "Contact";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="content contact-main">
    <!----start-contact---->
    <div class="contact-info">
        <div class="map wrap">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1959.8182734497097!2d106.682627!3d10.76246900000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfb91696d%3A0x28300602173a3187!2s6%2C+38!5e0!3m2!1sen!2s!4v1428951137390"></iframe><br>
            <small>
                <a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1959.8182734497097!2d106.682627!3d10.76246900000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfb91696d%3A0x28300602173a3187!2s6%2C+38!5e0!3m2!1sen!2s!4v1428951137390" style="color:#666;text-align:left;font-size:12px"></a>
            </small>
        </div>
        <div class="wrap">
            <div class="contact-grids">
                <div class="col_1_of_bottom span_1_of_first1">
                    <h5>Địa chỉ</h5>
                    <ul class="list3">
                        <li>
                            <img src="/images/home.png" alt="">
                            <div class="extra-wrap">
                                <p>227 Nguyễn Văn Cừ <br>Quận 5 <br> TP Hồ Chí Minh</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col_1_of_bottom span_1_of_first1">
                    <h5>Liên lạc</h5>
                    <ul class="list3">
                        <li>
                            <img src="/images/phone.png" alt="">
                            <div class="extra-wrap">
                                <p><span>Điện thoại:</span>+1 800 258 2598</p>
                            </div>
                            <img src="/images/fax.png" alt="">
                            <div class="extra-wrap">
                                <p><span>FAX:</span>+1 800 589 2587</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col_1_of_bottom span_1_of_first1">
                    <h5>Email</h5>
                    <ul class="list3">
                        <li>
                            <img src="/images/email.png" alt="">
                            <div class="extra-wrap">
                                <p><span class="mail"><a href="mailto:yoursite.com">info(at)bookstore.com</a></span></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <form method="post" action="contact-post.html">
                <div class="contact-form">
                    <div class="contact-to">
                        <input type="text" class="text" value="Họ tên..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
                        <input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
                        <input type="text" class="text" value="Tiêu đề..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject...';}">
                    </div>
                    <div class="text2">
                        <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Tin nhắn..</textarea>
                    </div>
                    <span><input type="submit" class="" value="Gửi"></span>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
    <!----//End-contact---->
</div>

