﻿@using System.Globalization
@using ShoesStore.Models.ViewModel
@using ShoesStoreBLL.EF
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!----start-image-slider---->
<div class="img-slider">
    <div class="wrap">
        <ul id="jquery-demo">
            <li>
                <a href="#slide1">
                    <img src="/images/slide-1.jpg" alt="" />
                </a>
                <div class="slider-detils">
                    <h3>Giày Thể Thao Nam <label>Giảm Giá 30%</label></h3>
                    <span>Giảm giá cuối năm</span>
                    @Html.ActionLink("Xem ngay", "Details", "Product", null, new { @class = "slide-btn" })
                    <!--<a class="slide-btn" href="/Views/Product/Details.cshtml"> Xem Ngay!</a> -->
                </div>
            </li>
            <li>
                <a href="#slide2">
                    <img src="/images/slide-4.jpg" alt="" />
                </a>
                <div class="slider-detils">
                    <h3>Giày Búp Bê Nữ <label>Hàng Mới Về</label></h3>
                    <span>Những mẫu mới nhất.</span>
                    @Html.ActionLink("Xem ngay", "Details", "Product", null, new { @class = "slide-btn" })
                    <!--<a class="slide-btn" href="/Views/Product/Details.cshtml"> Xem Ngay!</a> -->
                </div>
            </li>
            <li>
                <a href="#slide3">
                    <img src="/images/slide-1.jpg" alt="" />
                </a>
                <div class="slider-detils">
                    <h3>Xem Phim Cùng <label>NIKE</label></h3>
                    <span>Nhận ngay vé xem phim tại Galaxy với hóa đơn trên 3 triệu.</span>
                    @Html.ActionLink("Xem ngay", "Details", "Product", null, new { @class = "slide-btn" })
                    <!--<a class="slide-btn" href="/Views/Product/Details.cshtml"> Xem Ngay!</a> -->
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="clear"> </div>
<!----//End-image-slider---->
<!----start-price-rage--->
@*<div class="wrap">
    <div class="price-rage">
        <h3>Mức giá phổ biến trong tuần:</h3>
        <div id="slider-range">
        </div>
    </div>
</div>*@
<!----//End-price-rage--->

<div class="content">
    <div class="wrap">
        @*<div class="content-left">
            <div class="content-left-top-grid">
                <div class="content-left-price-selection">
                    <h4>Mức Giá:(x1.000VNĐ</h4>
                    <div class="price-selection-tree">
                        <span class="col_checkbox">
                            <input id="10" class="css-checkbox10" type="checkbox">
                            <label class="normal"><i for="10" name="demo_lbl_10" class="css-label10"> </i>200</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="11" class="css-checkbox11" type="checkbox">
                            <label class="active1"><i for="11" name="demo_lbl_11" class="css-label11"> </i>350</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="12" class="css-checkbox12" type="checkbox">
                            <label class="normal"><i for="12" name="demo_lbl_12" class="css-label12"> </i>500</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="13" class="css-checkbox13" type="checkbox">
                            <label class="normal"><i for="13" name="demo_lbl_13" class="css-label13"> </i>750</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="14" class="css-checkbox14" type="checkbox">
                            <label class="normal"><i for="14" name="demo_lbl_14" class="css-label14"> </i>1.000</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="15" class="css-checkbox15" type="checkbox">
                            <label class="normal"><i for="15" name="demo_lbl_15" class="css-label15"> </i>>1.500</label>
                        </span>
                    </div>

                </div>
            </div>
            <div class="content-left-bottom-grid">
                <h4>Góc Converse:</h4>
                <div class="content-left-bottom-grids">
                    <div class="content-left-bottom-grid1">
                        <img src="/images/foot-ball.jpg" title="143989V Đỏ Ngà" />
                        <h5>
                            @Html.ActionLink("143989V Đỏ Ngà", "Details", "Product")
                            <!-- <a href="/Views/Product/Details.cshtml">143989V Đỏ Ngà</a> -->
                        </h5>
                        <span> Converse</span>
                        <label>900</label>
                    </div>
                    <div class="content-left-bottom-grid1">
                        <img src="/images/jarse.jpg" title="142167C Xanh biển" />
                        <h5>
                            @Html.ActionLink("142167C Xanh biển", "Details", "Product")
                            <!--<a href="/Views/Product/Details.cshtml">142167C Xanh biển</a>--> 
                        </h5>
                        <span> Converse</span>
                        <label>1.300</label>
                    </div>
                </div>
            </div>
        </div>*@
        @*<div class="content-right">*@
        <div class="product-grids">
            <h3> <strong>Sản phẩm được xem nhiều:</strong></h3>
            <!--- start-rate---->
            <script src="/Scripts/jstarbox.js"></script>
            <link rel="stylesheet" href="/Content/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
            <script type="text/javascript">
                jQuery(function() {
                    jQuery('.starbox').each(function() {
                        var starbox = jQuery(this);
                        starbox.starbox({
                            average: starbox.attr('data-start-value'),
                            changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                            ghosting: starbox.hasClass('ghosting'),
                            autoUpdateAverage: starbox.hasClass('autoupdate'),
                            buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                            stars: starbox.attr('data-star-count') || 5
                        }).bind('starbox-value-changed', function(event, value) {
                            if (starbox.hasClass('random')) {
                                var val = Math.random();
                                starbox.next().text(' ' + val);
                                return val;
                            }
                        })
                    });
                });
            </script>
            <!---//End-rate---->
            <!---caption-script---->
            <!---//caption-script---->
            <!--Hiện danh sách 9 sản phẩm được xem nhiều nhất-->
            @{int i = 0;}
            @foreach (ProductViewModel p in Model)
            {
                ShoeStoreEntities entities = new ShoeStoreEntities();
                <!--Bắt đầu sản phẩm, chú xét nếu sp vị trí cuối grid thêm: last-grid-->
                i = i + 1;
                if (i > 9 || ViewBag.Cout < i)
                {
                    break;
                }
                <div class="product-grid fade @(i%3 != 0 ? String.Empty : "last-grid" )">
                    <div class="product-grid-head">
                        <ul class="grid-social">
                            <li><a class="facebook" href="#"><span> </span></a></li>
                            <li><a class="twitter" href="#"><span> </span></a></li>
                            <li><a class="googlep" href="#"><span> </span></a></li>
                            <div class="clear"> </div>
                        </ul>
                        <div class="block">
                            <div class="starbox small ghosting"> </div> <span> Khuyến mãi @p.SaleOff%</span>
                        </div>
                    </div>
                    <div class="product-pic">
                        <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                            <img src=@p.Image title=@p.ProductName />
                        </a>

                        <p>
                            <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                <strong>@p.ProductName </strong>

                                <br />
                                (Màu:

                                @{
                                    var firstOrDefault = entities.Colors.FirstOrDefault(c => c.ID == p.IDColor);
                                }
                                @if (firstOrDefault != null)
                                {
                                    @firstOrDefault.ColorName
                                };
                                Size:

                                @{
                                    var orDefault = entities.Sizes.FirstOrDefault(s => s.ID == p.IDSize);
                                }
                                @if (orDefault != null)
                                {
                                    @orDefault.SizeName
                                })
                            </a>

                            <span></span>
                        </p>
                    </div>
                    <div class="product-info">
                        <div class="product-info-cust">
                            <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                Chi tiết
                            </a>

                        </div>
                        <div class="product-info-price">
                            <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                @((p.Price * (1 - p.SaleOff /100.0)).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                            </a>

                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                        <span> </span>
                    </div>
                </div>
            }
            <!--Kết thúc sản phẩm-->


            <div class="clear"> </div>
        </div>
        @*</div>*@
        <div class="clear"> </div>
    </div>
</div>

