﻿@using System.Globalization
@using ShoesStore.Models.ViewModel
@using ShoesStoreBLL.EF
@model ShoesStore.Models.ViewModel.ProductViewModel
@{
    ViewBag.Title = "Search";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{int numProductPerPage = ViewBag.numProductPerPage;}
@{int numProduct = @ViewBag.numProduct;}
@{int numPage = numProduct / numProductPerPage;
  if (numProduct > numPage * numProductPerPage)
    {
        numPage++;
    }
}
@{  int skipPage = 2;
    int indPage = ViewBag.indPage;
    int startPage = indPage - skipPage <= 0 ? 1 : indPage - skipPage;
    int endPage = indPage + skipPage > numPage ? numPage : indPage + skipPage;
}
<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>TÌM KIẾM</h1>
            <div class="search-grids">
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{ 
                    <div class="search-main-grid">
                        <h3>@ViewBag.Header</h3>
                        <div>
                            <span>@Html.LabelFor(model => model.IDBrand)</span>
                            @Html.DropDownListFor(model => model.IDBrand, (List<SelectListItem>)ViewBag.lstBrand)
                        </div>
                        <div>
                            <span>@Html.LabelFor(model => model.IDSize)</span>
                            @Html.DropDownListFor(model => model.IDSize, (List<SelectListItem>)ViewBag.lstSize)
                        </div>
                        <div>
                            <span>Giá dưới</span>
                            @Html.DropDownListFor(model => model.Price, (List<SelectListItem>)ViewBag.lstPrice)
                        </div>
                        <div>
                            <span>@Html.LabelFor(model => model.IDColor)</span>
                            @Html.DropDownListFor(model => model.IDColor, (List<SelectListItem>)ViewBag.lstColor)
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                    <input type="submit" value="Tìm" />
}
            </div>
            <div class="clear"> </div>

            <div class="product-grids">
                <script src="~/Scripts/jstarbox.js"></script>
                <link rel="stylesheet" href="~/Content/jstarbox.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
                <script type="text/javascript">
                    jQuery(function () {
                        jQuery('.starbox').each(function () {
                            var starbox = jQuery(this);
                            starbox.starbox({
                                average: starbox.attr('data-start-value'),
                                changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                ghosting: starbox.hasClass('ghosting'),
                                autoUpdateAverage: starbox.hasClass('autoupdate'),
                                buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                stars: starbox.attr('data-star-count') || 5
                            }).bind('starbox-value-changed', function (event, value) {
                                if (starbox.hasClass('random')) {
                                    var val = Math.random();
                                    starbox.next().text(' ' + val);
                                    return val;
                                }
                            })
                        });
                    });
                </script>

                <h1>SẢN PHẨM TÌM ĐƯỢC</h1>
                <h3>Tìm được @ViewBag.numProduct sản phẩm</h3>
                @{
                    int i = 0;
                  }
                @foreach (ProductViewModel p in ViewBag.lstProduct)
                {
                    ShoeStoreEntities entities = new ShoeStoreEntities();
                <!--Bắt đầu sản phẩm, chú xét nếu sp vị trí cuối grid thêm: last-grid-->
                    i = i + 1;

                    <div class="product-grid fade @(i%3 != 0 ? String.Empty : "last-grid" )">
                        <div class="product-grid-head">
                            <ul class="grid-social">
                                <li><a class="facebook" href="#"><span> </span></a></li>
                                <li><a class="twitter" href="#"><span> </span></a></li>
                                <li><a class="googlep" href="#"><span> </span></a></li>
                                <div class="clear"> </div>
                            </ul>
                            <div class="block">
                                <div class="starbox small ghosting"> </div> <span> Khuyến mãi @p.SaleOff%</span>
                            </div>
                        </div>
                        <div class="product-pic">
                            <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                <img src=@p.Image title=@p.ProductName />
                            </a>

                            <p>
                                <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                    <strong>@p.ProductName </strong>

                                    <br />
                                    (Màu:

                                    @{
                    var firstOrDefault = entities.Colors.FirstOrDefault(c => c.ID == p.IDColor);
                                    }
                                    @if (firstOrDefault != null)
                                    {
                                        @firstOrDefault.ColorName
                                    };
                                    Size:

                                    @{
                    var orDefault = entities.Sizes.FirstOrDefault(s => s.ID == p.IDSize);
                                    }
                                    @if (orDefault != null)
                                    {
                                        @orDefault.SizeName
                                    })
                                </a>

                                <span></span>
                            </p>
                        </div>
                        <div class="product-info">
                            <div class="product-info-cust">
                                <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                    Chi tiết
                                </a>

                            </div>
                            <div class="product-info-price">
                                <a href="@Url.Action("Details", "Product", new { idProduct = p.ID })">
                                    @((p.Price * (1 - p.SaleOff / 100.0)).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                                </a>

                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="more-product-info">

                        </div>
                    </div>
                }
                    <div class="clear"> </div>
                </div>
                <div class="loadmore-products-1">

                    @if (indPage > 1)
                    {
                        <a title="Trang Trước" href="@Url.Action("Search", "Home",
                                    new { idBrand = ViewBag.idBrand, idSize = ViewBag.idSize, price = ViewBag.price, idColor = ViewBag.idColor, name = ViewBag.name, indPage = indPage-1, numProductPerPage = numProductPerPage})">
                            <
                        </a>
                    }
                     
                    @for (int p = startPage; p <= endPage; p++)
                    {
                        if (p == indPage)
                        {
                            <a class="active-page">@p</a>
                        }
                        else
                        {
                            <a title="Trang @p" href="@Url.Action("Search", "Home",
                        new { idBrand = ViewBag.idBrand, idSize = ViewBag.idSize, price = ViewBag.price, idColor = ViewBag.idColor, name = ViewBag.name, indPage = p, numProductPerPage = numProductPerPage })">@p</a>
                        }
                    }
                     
                    @if (indPage <= (numPage - 1))
                    {
                        <a title="Trang Sau" href="@Url.Action("Search", "Home",
                    new { idBrand = ViewBag.idBrand, idSize = ViewBag.idSize, price = ViewBag.price, idColor = ViewBag.idColor, name = ViewBag.name, indPage = indPage + 1, numProductPerPage = numProductPerPage })">
                            >
                        </a>
                    }
                </div>
            </div>
    </div>
</div>


