.positioner {
	position: relative;
	display: inline-block;
	line-height: 0;
}

.starbox .colorbar,
.starbox .ghost {
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.starbox .stars {
	display: inline-block;
}

.starbox .stars .star_holder {
	position: relative;
	z-index: 1;
}

.starbox .stars .star_holder .star {
	display: inline-block;
	vertical-align: baseline;
	background-repeat: no-repeat;
}


/* Override with your own image and size… */
.starbox .stars .star_holder .star {
	background-image: url('https://github.com/sabberworm/jStarbox/raw/master/images/5-small.png');
	width:24px;
	height:24px;
}
.starbox{
	float:left;
}
.block span{
	color: red;
	float: left;
	margin: 0 0 0 0.5em;
	font-size: 0.875em;
}
/* Override with your own colours… */
.starbox .stars { background: #cccccc; }
.starbox .rated .stars { background: #dcdcdc; }
.starbox .rated.hover .stars { background: #cccccc; }
.starbox .colorbar { background: #FFD596; }
.starbox .hover .colorbar { background: #ffcc1c; }
.starbox .rated .colorbar { background: #64b2ff; }
.starbox .rated.hover .colorbar { background: #FFD596; }
.starbox .ghost { background: #a1a1a1; }
